<div *ngIf="imagenes.length > 0" #sasagallery_container>
  <div class="row">
    <div class="column pepe" *ngFor="let item of imagenes" #columnPhoto>
      <img [src]="item">
    </div>
  </div>
  
  <!-- The Modal -->
  <div id="googlephotopreview" class="modal" #modalsita (click)="GoogleCloseModal()">

    <ion-fab vertical="top" horizontal="center" slot="fixed">
      <ion-fab-button (click)="GoogleCloseModal()" color="light" size="small">
        <ion-icon color="dark" name="close-outline" size="small"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!--<span class="close uk-align-center" (click)="GoogleCloseModal()">&times;</span>-->
    <img class="padding-small modal-content" id="img01">
  </div>
</div>