<ion-header>
  <ion-toolbar color="dark">
    <ion-title size="small ion-text-center"> NOSOTROS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen  class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="reload-circle"
      pullingText="Hala para recargar"
      refreshingSpinner="circles"
      refreshingText="Recargando">
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab horizontal="start" vertical="top" slot="fixed" edge>
    <ion-fab-button color="success" class="animated bounceIn" size="small" (click)="helper.openInternal('/index', 'right', 400)">
      <ion-icon size="small" name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color="success"  class="animated bounceIn" size="small">
      <ion-icon size="small" name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button (click)="helper.openInternal('/view-servicios', 'left', 400)" color="light">
        <ion-icon name="wine"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="helper.openInternal('/view-portfolio', 'left', 400)" color="light">
        <ion-icon name="layers"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="helper.openInternal('/view-blog', 'left', 400)" color="light">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card class="animated bounceIn">
    <ion-card-header color="dark">
      <img *ngIf="aboutInfo.image" loading="lazy" [src]="aboutInfo.image" alt="LOGO">
      <iframe width="100%" height="300px" [src]="aboutInfo.video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div id="introtext">
      </div>
      <button style="margin-left: -5px; padding: 10px auto;" class="uk-width-1-1 IndigoGlow-btn_inv" (click)="helper.openExternal('https://eventosmomento.com/')">VER MÁS</button>
    </ion-card-header>

  </ion-card>

</ion-content>
