<ion-header>
  <ion-toolbar color="dark">
    <ion-title size="small ion-text-center"> {{ evento.titulo }}  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollY]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="reload-circle"
      pullingText="Hala para recargar"
      refreshingSpinner="circles"
      refreshingText="Recargando">
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab horizontal="start" vertical="top" slot="fixed" edge>
    <ion-fab-button color="success" class="animated bounceIn" size="small" (click)="helper.openInternal('/index', 'right', 400)">
      <ion-icon size="small" name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button  color="success" class="animated bounceIn" size="small">
      <ion-icon size="small" name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button (click)="toItin('itin')" color="light">
        <ion-icon name="notifications"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openmap(evento.mapa)" color="light">
        <ion-icon name="location"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="evento.whatsapp != ''" (click)="helper.openExternal(evento.whatsapp.changingThisBreaksApplicationSecurity)" color="light">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div *ngIf="this.evento != null" class="animated bounceInDown" color="dark">
    <img [src]="evento.mainImage" />
    <ion-card-header class="text-uppercase">
        <ion-card class="animated flipInX delay-1s ion-padding" color="dark ion-no-padding">
            <h3 class="text-uppercase">{{ evento.powerwords }}</h3>
        </ion-card>
    </ion-card-header>
    <ion-card-content class="text-justify animated slideInUp delay-2s ion-padding">
      <ion-card-subtitle class="margin-bottom-remove">{{ evento.subtitulo }}</ion-card-subtitle>
      <ion-card-title class="margin-bottom-remove margin-top-remove"><h1 class="margin-top-remove">{{ evento.titulo }}</h1></ion-card-title>
      <p class="margin-top-remove">FECHA {{evento.fecha}}</p>
      {{evento.texto}}
    </ion-card-content>
  </div>

  <div class="animated fadeIn delay-1s">
    <img [src]="evento.secondImg" style="width: 100%;">
  </div>

  <div class="animated rubberBand">

    <iframe *ngIf="evento.provVideo == 'YT'" width="100%" height="300px" [src]="evento.youtube" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe *ngIf="evento.provVideo == 'VM'" width="100%" height="300px" [src]="evento.vimeo" frameborder="0" allow="fullscreen" allowfullscreen></iframe> 

  </div>

  <div class="animated fadeIn" *ngIf="bullets.titulo_1 != ''">
    <ion-list>
      <ion-list-header  class="text-uppercase" color="dark" style="background-color: black;">
        <ion-fab-button size="small"><ion-icon size="small" name="grid-outline"></ion-icon></ion-fab-button> <p> TEMAS DEL EVENTO</p>
      </ion-list-header>
      
      <ion-item (click)="openDetailsTask(1, bullets)"> 
        <ion-avatar slot="start">
          <img [src]="bullets.img1" *ngIf="bullets.img1 != '';else iconWithoutimage">
        </ion-avatar>
        <ion-label>
          <h2>{{bullets.titulo_1}}</h2>
          <p>{{bullets.text1}}</p>
        </ion-label>
      </ion-item>

      <ion-item (click)="openDetailsTask(2, bullets)" *ngIf="bullets.titulo_2 != ''">
        <ion-avatar slot="start">
          <img [src]="bullets.img2" *ngIf="bullets.img2 != '';else iconWithoutimage">
        </ion-avatar>
        <ion-label>
          <h2>{{bullets.titulo_2}}</h2>
          <p>{{bullets.text2}}</p>
        </ion-label>
      </ion-item>

      <ion-item (click)="openDetailsTask(3, bullets)" *ngIf="bullets.titulo_3 != ''">
        <ion-avatar slot="start">
          <img [src]="bullets.img3" *ngIf="bullets.img3 != '';else iconWithoutimage">
        </ion-avatar>
        <ion-label>
          <h2>{{bullets.titulo_3}}</h2>
          <p>{{bullets.text3}}</p>
        </ion-label>
      </ion-item>

      <ion-item (click)="openDetailsTask(4, bullets)" *ngIf="bullets.titulo_4 != ''">
        <ion-avatar slot="start">
          <img [src]="bullets.img4" *ngIf="bullets.img4 != '';else iconWithoutimage">
        </ion-avatar>
        <ion-label>
          <h2>{{bullets.titulo_4}}</h2>
          <p>{{bullets.text4}}</p>
        </ion-label>
      </ion-item>

      <ion-item (click)="openDetailsTask(5, bullets)" *ngIf="bullets.titulo_5 != ''">
        <ion-avatar slot="start">
          <img [src]="bullets.img5" *ngIf="bullets.img5 != '';else iconWithoutimage">
        </ion-avatar>
        <ion-label>
          <h2>{{bullets.titulo_5}}</h2>
          <p>{{bullets.text5}}</p>
        </ion-label>
      </ion-item>

      <ion-item (click)="openDetailsTask(6, bullets)" *ngIf="bullets.titulo_6 != ''">
        <ion-avatar slot="start">
          <img [src]="bullets.img6" *ngIf="bullets.img6 != '';else iconWithoutimage">
        </ion-avatar>
        <ion-label>
          <h2>{{bullets.titulo_6}}</h2>
          <p>{{bullets.text6}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div id="itin" #itin *ngIf="evento.esInvitado != null && evento.esInvitado == true; else noEresInvitado" class="animated fade-in">
    <ion-list *ngIf="evento.itinerario != null && evento.itinerario.length > 0; else noHayItinerario">
      <ion-list-header  class="text-uppercase" color="dark" style="background-color: black;">
        <ion-fab-button size="small"><ion-icon size="small" name="grid-outline"></ion-icon></ion-fab-button> <p> Itinerario DEL EVENTO</p>
      </ion-list-header>

      
      <ion-item (click)="openDetailItin(item)" *ngFor="let item of evento.itinerario">
        <ion-avatar slot="end">
          <ion-icon size="small" name="caret-forward-circle-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{item.nombre}}</h2>
          <h3>{{item.fecha}} - {{item.hora}}</h3>
          <p>{{item.descripcion}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #noEresInvitado>
    <h2 color="danger">Lo sentimos no haz sido invitado</h2>
  </ng-template>

  <ng-template #noHayItinerario>
    <h2 color="danger">No se han establecido actividades para este evento</h2>
  </ng-template>

  <ng-template #iconWithoutimage>
    <ion-icon name="image" size="large"></ion-icon>
  </ng-template>

  <div *ngIf="evento.esInvitado != null; else noEresInvitado" class="animated fade-in">
    <sasagalery [album]="evento.album"></sasagalery>
  </div>
</ion-content>
