<ion-content>

<div class="momento_bg ion-text-center">

  <!--icono de volver al inicio-->
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="goToIndex()" size="small" color="light">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div>

    <div class="animated bounceIn margin-top uk-margin-auto-vertical">
    <div class="margin-bottom margin-top-large uk-margin-auto-vertical">
      <img src="../../assets/plane.svg" height="auto" width="25%">
    </div>
    </div>

    <div *ngIf="error!=null && employe.token==''" class="animated fadeInDown delay-1s">
      <form #formulario="ngForm" (ngSubmit)="verifyTwoFactory()">
        <ion-item>
          <!--<ion-label color="light" position="floating" class="ion-text-center">COLOCA TU EMAIL</ion-label>-->
          <ion-input class="ion-text-center" placeholder="COLOCA TU EMAIL" color="light" type="email" name="email" [(ngModel)]="employe.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></ion-input>
        </ion-item>
        <ion-button  fill="outline" color="light" shape="round" type="submit">solicitar código</ion-button>
      </form>
      
    </div>
    <div style="color: white;" *ngIf="error==null">
        REVISA TU EMAIL
    </div>

    <div *ngIf="error==1">
      Usuario no registrado, intenta de nuevo.
  </div>

    
    <div *ngIf="employe.token!='' || error == null" class="margin-top">
      <div style="color: white;" class="" color="light">
        <h3 class="margin-bottom-remove">TOKEN ENVIADO</h3>
        <p class="margin-top-remove">verifica para ingresar</p>
      </div>
      <form (ngSubmit)="verifyToken()" #formulario="ngForm">
        <ion-item>
          <!--<ion-label color="light" position="floating" class="ion-text-center">INGRESA EL TOKEN</ion-label>-->
          <ion-input color="light"
                    type="text"
                    name="token"
                    [(ngModel)]="employe.token"
                    minlength="6"
                    maxlength="6"
                    placeholder="código aquí"
                    class="ion-text-center"
                    required></ion-input>
        </ion-item>
        <ion-button shape="round" fill="outline" color="light" type="submit" [disabled]="formulario.invalid">VERIFICAR</ion-button>
      </form>
    </div>

    <div class="position-top-small uk-width-1-2 uk-align-center margin-bottom-large">
      <ion-text color="light">
      <h3 class="margin-bottom-remove">Revisa tu email</h3>
      <p class="margin-top-remove text-small">Encontrarás un token de seguridad único copialo y pegalo en la pantalla siguiente para acceder al perfil de tus eventos</p>
      </ion-text>
    </div>
    

  </div>

  

</div>

</ion-content>
