ion-modal {
  --background: white !important;
  --backdrop-opacity: 1;
}

ion-header, ion-toolbar {
  --opacity: 1;
  --background: white !important;
}

.sc-ion-modal-md-h {
  --backdrop-opacity: 1 !important;
}

.whitebg {
  --background: white;
}

ion-content {
  background: rgba(0,0,0,.6);
  min-height: 100vh;
  padding-top: 2em;
}