<ion-header>
  <ion-toolbar color="dark">
    <ion-title size="small ion-text-center">ITINERARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" (click)="closeModal()">

  <ion-fab horizontal="center" vertical="top" slot="fixed" edge>
    <ion-fab-button color="light" class="animated bounceIn" size="small" (click)="closeModal()">
      <ion-icon size="small" name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="animated bounceIn">
    <ion-card-header color="dark">
      <h2>{{ nombre }}</h2>
      <p class="margin-top-remove margin-bottom-remove">FECHA: {{fecha}}</p>
      <p class="margin-top-remove margin-bottom-remove">HORA: {{hora}}</p>
      <p class="margin-top-remove">{{ descripcion }}</p>
    </ion-card-header>
  </ion-card>

</ion-content>


<!--<ion-header translucent="white">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="dark" (click)="closeModal()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title class="ion-text-uppercase">Detalle de la actividad.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding whitebg">
  <h3>{{ nombre }}</h3>
  <div>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{fecha}}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="alarm-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{hora}}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="chatbubble-outline"></ion-icon>
        </ion-avatar>
        <ion-text>
          {{ descripcion }}
        </ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>-->