ion-toolbar {
  background-color: rgb(158, 40, 181);
  color: white;
}

ion-content {
  background-color: rgba(31, 31, 31, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}