<ion-header>
  <ion-toolbar color="dark">
    <ion-title size="small"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" (click)="closeDetails()">

  <ion-fab horizontal="center" vertical="top" slot="fixed" edge>
    <ion-fab-button color="light" class="animated bounceIn" size="small" (click)="closeDetails()">
      <ion-icon size="small" name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="animated bounceIn">
    <img *ngIf="image" loading="lazy" [src]="image" alt="Imagen del evento en portfolio">
    <ion-card-header color="dark">
      <div id="introtext">
      </div>
      <ion-button color="light" class="uk-width-1-1" (click)="openArticle(link)">VER MÁS</ion-button>
    </ion-card-header>
  </ion-card>

</ion-content>
