<ion-content fullscreen color="dark">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="reload-circle" pullingText="Hala para recargar" refreshingSpinner="circles" refreshingText="Recargando">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="isConnected==true">

        <!-- FONDO SEGUN SELECTOR -->
        <div [ngStyle]="{ 'background-color':  colors.background, 'background-image': 'url('+colors.schema+')' }" style="z-index: -20; min-height: 100vh; width: 100%;background-blend-mode: multiply; background-size: cover;">

            <!--scroller-->
            <div class="hero_panel">

                <!--icono de logout-->
                <ion-fab vertical="top" horizontal="end" slot="fixed" size="small">
                    <ion-fab-button (click)="cerrar()" size="small" color="dark">
                        <ion-icon size="small" name="log-out"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <!--/icono de logout-->

                <!-- INFORMACION EMPRESA -->
                <div class="animated bounceInDown capa-1 no-bg margin-top margin-bottom-remove">
                    <div class="">

                        <div class="margin-top uk-border-circle" style="display: flex;">
                            <img style="width: 25%; object-fit: cover;" [src]="empresa.logo" />
                        </div>

                        <p class="margin-bottom-remove" [ngStyle]="{'color': colors.primary}">HOLA, {{ datosEmpleado.nombre }} {{ datosEmpleado.apellido }}</p>
                        <h1 class="margin-top-remove hero_h1" [ngStyle]="{'color': colors.primary}">{{ empresa.nombre }}</h1>
                        <!--<p [ngStyle]="{'color': colors.primary}">{{ empresa.descripcion }}</p>-->

                    </div>
                </div>
                <!-- INFORMACION EMPRESA FIN -->

                <!--información de eventos-->

                <div color="primary" [ngStyle]="{'background': colors.background, 'color': colors.primary}" class="IndigoGlow-btn_small animated flipInX delay-1s">
                    <ion-label>
                        TUS EVENTOS
                    </ion-label>
                </div>

                <!--EVENTOS CARD-->
                <div class="padding-none" *ngIf="eventos.length > 0">
                    <ion-card (click)="goToDetaildEvent(evento.enlace)" *ngFor="let evento of eventos" [ngStyle]="{'border-color': colors.primary}" class="IndigoGlow-btn_inv margin-bottom-small animated flipInX delay-2s padding-none" color="dark">
                        <ion-card-content class="padding-none">
                            <ion-item>
                                <ion-avatar slot="start">
                                    <img [src]="evento.image" *ngIf="evento.image != ''; else EventoSinImagen">
                                </ion-avatar>
                                <ion-label color="light">
                                    <h3>{{ evento.titulo }}</h3>
                                    <p>descripcion del evento intro</p>
                                </ion-label>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </div>

                <div class="no-bg animated flipInX delay-3s">
                    <ion-card *ngIf="eventos.length == 0">
                        <ion-card-header>
                            <ion-card-title>No tienes eventos asignados</ion-card-title>
                        </ion-card-header>
                    </ion-card>
                </div>

                <!--/EVENTOS CARD-->

                <!--PROXIMAMENTE-->
                <div color="light" [ngStyle]="{'background': colors.background, 'color': colors.primary, 'margin': '30px 0px'}" class="IndigoGlow-btn_small animated flipInX delay-4s" *ngIf="itinhome.length > 0">
                    <ion-label>
                        PRÓXIMAMENTE
                    </ion-label>
                </div>
                <div class="" *ngIf="itinhome.length > 0">
                    <ion-card *ngFor="let itin of itinhome" class="margin-bottom-small animated flipInX delay-5s" color="light" (click)="goToDetaildEvent(enlaceeventoitin)">
                        <ion-card-content>
                            <ion-label>
                                <ion-icon name="alert-circle-outline"></ion-icon>
                                <ion-text>
                                    <h2 class="margin-bottom-remove">{{ itin.nombre }}</h2>
                                    <p class="margin-top-remove margin-bottom-remove">{{ itin.fecha }} {{ itin.hora }}</p>
                                    <p class="margin-top-remove"> {{ itin.descripcion }} </p>
                                </ion-text>
                            </ion-label>
                        </ion-card-content>
                    </ion-card>
                </div>
                <!--/PROXIMAMENTE-->

                <!--SOCIAL MEDIA EMPRESA-->
                <img src="../../assets/images/swipeup.gif" style="mix-blend-mode: screen; position: fixed; bottom: 10px; right: 5px; height: 10%;">
                <ion-fab horizontal="start" vertical="bottom" slot="fixed">
                    <ion-fab-button color="light">
                        <ion-icon md="share-social-outline" ios="share-social-outline"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="end">
                        <ion-fab-button *ngIf="empresa.haveFb" [ngStyle]="{'color': colors.primary}" (click)="helper.openExternal(empresa.facebook.changingThisBreaksApplicationSecurity)" class="">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button *ngIf="empresa.haveIg" [ngStyle]="{'color': colors.primary}" (click)="helper.openExternal(empresa.instagram.changingThisBreaksApplicationSecurity)" class="">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button *ngIf="empresa.haveTw" [ngStyle]="{'color': colors.primary}" (click)="helper.openExternal(this.empresa.twitter.changingThisBreaksApplicationSecurity)" class="">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button *ngIf="empresa.haveYt" [ngStyle]="{'color': colors.primary}" (click)="helper.openExternal(empresa.youtube.changingThisBreaksApplicationSecurity)" class="">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button *ngIf="empresa.haveWb" [ngStyle]="{'color': colors.primary}" (click)="helper.openExternal(empresa.web.changingThisBreaksApplicationSecurity)" class="">
                            <ion-icon name="earth-outline"></ion-icon>
                        </ion-fab-button>
                    </ion-fab-list>
                </ion-fab>

            </div>
            <!--/scroller-->

        </div>



    </div>



    <ng-template #EventoSinImagen>
        <ion-icon name="checkbox" size="large"></ion-icon>
    </ng-template>


    <!--PARTE PUBLICA DEL INDEX.-->

    <!--<ng-template #AccesoLogin>-->

    <div style="height: 100vh; position: relative;">

        <!--<div class="background">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>-->

        <div class="momento_bg">
            <div>
                <div class="animated fadeInDown ion-text-center">
                    <img src="../../assets/momento_logo.png">
                </div>

                <!--GRID DE INICIO-->
                <div>
                    <!--BOTON DE PORTAFOLIO-->
                    <!--
          <ion-card class="margin-bottom-small animated slideInLeft" color="light" (click)="goToPortafolio()">
            <ion-card-content>
            <ion-label>
                <ion-icon name="layers"></ion-icon>
                <ion-text>
                  <h2>PORTAFOLIO</h2>
                  <p>Explora nuestros eventos</p>
                </ion-text>
            </ion-label>
          </ion-card-content>
          </ion-card>-->

                    <div href="#" class="IndigoGlow-btn animated flipInX" (click)="goToPortafolio()">
                        <ion-card-content>
                            <ion-label>
                                <ion-text>
                                    <ion-row>
                                        <ion-col size="11">
                                            <h2>PORTAFOLIO</h2>
                                            <p>Explora nuestros eventos</p>
                                        </ion-col>
                                        <ion-col size="1">
                                            <ion-icon name="albums-outline"></ion-icon>
                                        </ion-col>
                                    </ion-row>
                                </ion-text>
                            </ion-label>

                        </ion-card-content>
                    </div>
                    <!--/BOTON DE PORTAFOLIO-->

                    <!--BOTON DE SERVICIOS-->
                    <div href="#" class="IndigoGlow-btn_inv animated flipInX delay-1s" (click)="goToServices()">
                        <ion-card-content>
                            <ion-label>
                                <ion-text>
                                    <ion-row>
                                        <ion-col size="11">
                                            <h2>SERVICIOS</h2>
                                            <p>Vamos a crear juntos</p>
                                        </ion-col>
                                        <ion-col size="1">
                                            <ion-icon name="wine"></ion-icon>
                                        </ion-col>
                                    </ion-row>
                                </ion-text>
                            </ion-label>

                        </ion-card-content>
                    </div>

                    <!--
          <ion-card class="margin-bottom-small margin-top-remove animated slideInLeft delay-1s" color="success" (click)="goToServices()">
            <ion-card-content>
            <ion-label>
                <ion-icon name="wine"></ion-icon>
                <ion-text>
                  <h2>SERVICIOS</h2>
                  <p>Vamos a crear juntos</p>
                </ion-text>
            </ion-label>
          </ion-card-content>
          </ion-card>-->
                    <!--/BOTON DE SERVICIOS-->

                    <!--GRID INFERIOR-->
                    <ion-grid class="ion-no-padding" style="margin-left: 20px; margin-right: 20px;">
                        <ion-row>
                            <ion-col>
                                <!--BOTON DE BLOG-->
                                <div href="#" class="IndigoGlow-card_inv animated flipInX delay-2s margin-top-remove" (click)="goToBlog()">
                                    <ion-card-content>
                                        <ion-label>
                                            <ion-text>
                                                <ion-row>
                                                    <ion-col size="11">
                                                        <h2>CONSEJOS</h2>
                                                        <p>Momento®</p>
                                                    </ion-col>
                                                    <ion-col size="1">
                                                        <ion-icon name="heart-circle"></ion-icon>
                                                    </ion-col>
                                                </ion-row>
                                            </ion-text>
                                        </ion-label>

                                    </ion-card-content>
                                </div>
                                <!--<ion-card class="margin-top-remove animated slideInLeft delay-2s" color="secondary" (click)="goToBlog()">
                <ion-card-content>
                <ion-label>
                    <ion-icon name="heart-circle"></ion-icon>
                    <ion-text>
                      <h2>CONSEJOS</h2>
                      <p>Momento®</p>
                    </ion-text>
                </ion-label>
              </ion-card-content>
              </ion-card>-->
                                <!--/BOTON DE BLOG-->
                            </ion-col>

                            <ion-col>
                                <!--BOTON DE ABOUT-->
                                <div href="#" class="IndigoGlow-card_inv animated flipInX delay-2s margin-top-remove" (click)="helper.openInternal('/about', 'left', 400)">
                                    <ion-card-content>
                                        <ion-label>
                                            <ion-text>
                                                <ion-row>
                                                    <ion-col size="11">
                                                        <h2>NOSOTROS</h2>
                                                        <p>Conoce más</p>
                                                    </ion-col>
                                                    <ion-col size="1">
                                                        <ion-icon name="alert-circle"></ion-icon>
                                                    </ion-col>
                                                </ion-row>
                                            </ion-text>
                                        </ion-label>

                                    </ion-card-content>
                                </div>
                                <!--
              <ion-card class="margin-top-remove animated slideInRight delay-2s" color="warning" (click)="helper.openInternal('/about', 'left', 400)">
                <ion-card-content>
                <ion-label>
                    <ion-icon color="light" name="alert-circle"></ion-icon>
                    <ion-text color="light">
                      <h2>NOSOTROS</h2>
                      <p>Conoce más</p>
                    </ion-text>
                </ion-label>
              </ion-card-content>
              </ion-card>-->
                                <!--/BOTON DE ABOUT-->
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                    <!--/GRID INFERIOR-->
                </div>
                <!--/GRID DE INICIO-->

                <div class="ion-text-center">
                    <div class="animated fadeIn">
                        <!--<ion-text color="light">
            <h1 class="margin-bottom-remove">EXPLORA</h1>
            <p class="margin-top-remove">tus momentos</p>
          </ion-text>-->
                    </div>

                    <div *ngIf="isConnected==false" class="animated infinite bounce delay-2s margin-top margin-bottom">
                        <img (click)="goToLogin()" src="../../assets/dactilar.png" height="auto" width="15%" class="margin-bottom-remove">
                        <ion-text color="light" class="margin-top-remove">
                            <p>identificate</p>
                        </ion-text>
                    </div>

                    <!--<div class="uk-width-1-3 uk-align-center">
          <div>
            <ion-text color="light">
              <p class="margin-bottom-remove">conócenos</p>
            </ion-text>
            <div style="mix-blend-mode: screen;">
              <img src="../../assets/swipe.gif" height="auto" width="auto">
            </div>
          </div>
        </div>-->
                    <div class="position-bottom">
                        <ion-fab horizontal="start">
                            <ion-fab-button color="light">
                                <ion-icon md="share-social-outline" ios="share-social-outline"></ion-icon>
                            </ion-fab-button>
                            <ion-fab-list side="end">
                                <ion-fab-button (click)="helper.openExternal(datosMomento.facebook)" [ngStyle]="{'color': colors.primary}" class="">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </ion-fab-button>
                                <ion-fab-button (click)="helper.openExternal(datosMomento.instagram)" [ngStyle]="{'color': colors.primary}" class="">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                </ion-fab-button>
                                <ion-fab-button (click)="helper.openExternal(datosMomento.twitter)" [ngStyle]="{'color': colors.primary}" class="">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </ion-fab-button>
                                <ion-fab-button (click)="helper.openExternal(datosMomento.whatsapp)" [ngStyle]="{'color': colors.primary}" class="">
                                    <ion-icon name="logo-whatsapp"></ion-icon>
                                </ion-fab-button>
                                <ion-fab-button (click)="helper.openExternal(datosMomento.web)" [ngStyle]="{'color': colors.primary}" class="">
                                    <ion-icon name="earth-outline"></ion-icon>
                                </ion-fab-button>
                            </ion-fab-list>
                        </ion-fab>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--</ng-template>-->

</ion-content>