<ion-header>
    <ion-toolbar color="dark">
        <ion-title size="small ion-text-center"> CONSEJOS </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="reload-circle" pullingText="Hala para recargar" refreshingSpinner="circles" refreshingText="Recargando">
        </ion-refresher-content>
    </ion-refresher>

    <ion-fab horizontal="start" vertical="top" slot="fixed" edge>
        <ion-fab-button color="success" class="animated bounceIn" size="small" (click)="goToIndex()">
            <ion-icon size="small" name="arrow-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="success" class="animated bounceIn" size="small">
            <ion-icon size="small" name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button (click)="helper.openInternal('/view-servicios', 'left', 400)" color="light">
                <ion-icon name="wine"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="helper.openInternal('/view-portfolio', 'left', 400)" color="light">
                <ion-icon name="layers"></ion-icon>
            </ion-fab-button>
            <!--<ion-fab-button color="light">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-fab-button>-->
        </ion-fab-list>
    </ion-fab>

    <div *ngIf="articulos.length > 0 else Sindata">
        <ion-card class="animated flipInX delay-1s" (click)="openDetails(item)" *ngFor="let item of articulos">
            <img loading="lazy" *ngIf="item.image != ''; else PortafolioSinImagen" [src]="item.image">
            <ion-card-header color="dark">
                <ion-card-subtitle>Fecha del Articulo</ion-card-subtitle>
                <ion-card-title>{{ item.title }}</ion-card-title>
            </ion-card-header>
        </ion-card>
    </div>

</ion-content>

<ng-template #PortafolioSinImagen>
    <ion-icon name="briefcase" size="large"></ion-icon>
</ng-template>

<ng-template #Sindata>

</ng-template>