ion-toolbar {
  background-color: rgb(158, 40, 181);
  color: white;
}

ion-content {
  background: rgb(2,0,36);
  background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(51,10,64,1) 26%, rgba(50,3,69,1) 82%, rgba(33,33,33,1) 100%);
  min-height: 100vh;
  padding-top: 2em;
}

/**/
