<div id="famous-application" class="hidden-template">

    <!--inicio-->
    <div class="card" data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55" data-type="card">
        <div class="wrapper">
            <svg fill="none" viewBox="0 0 375 667" preserveAspectRatio="xMidYMid slice" data-id="55020CDE-798A-4F23-BAD8-4356C48CAEA8" data-type="image">
                <defs/>
                <image x="0" y="0" width="375" height="667" xlink:href="../../assets/images/mom_bg.jpg" preserveAspectRatio="xMidYMid slice" />
            </svg>

            <div data-id="4E105924-DF73-490D-9CF8-84A2E4C59216" data-type="group">
                <svg fill="none" viewBox="0 0 150 150" preserveAspectRatio="xMidYMid slice" data-id="0a8daedd-d6fd-4a98-9d7d-157171e46b82" data-type="image">
                    <defs/>
                    <image x="0" y="0" width="150" height="150" xlink:href="../../assets/images/f3c14a267b2e6f44b375c91fef631056.png" preserveAspectRatio="xMidYMid slice" />
                </svg>
      
                <div data-id="73456F0F-FB13-4517-ABAC-900B76213135" data-type="text">
                    <div data-text-paragraph-id="73456F0F-FB13-4517-ABAC-900B76213135-0" class="text-content text-paragraph"><span data-text-span-id="73456F0F-FB13-4517-ABAC-900B76213135-0" class="text-content text-span"><span>﻿explora﻿</span></span>
                    </div>
                </div>
                
                <div data-id="D143C30C-E842-41F5-AA34-5282482C2B14" data-type="text">
                    <div data-text-paragraph-id="D143C30C-E842-41F5-AA34-5282482C2B14-0" class="text-content text-paragraph"><span data-text-span-id="D143C30C-E842-41F5-AA34-5282482C2B14-0" class="text-content text-span"><span>﻿tus momentos﻿</span></span>
                    </div>
                </div>
            </div>

            <div [class.contenido-oculto]="isConnected==true" data-id="ce049ab9-29e8-4e8f-a6a9-27bb1a02b4a7" data-type="group">
            <svg fill="none" viewBox="0 0 81 81" preserveAspectRatio="xMidYMid slice" data-type="image">
                <defs/>
                <image x="0" y="0" width="81" height="81" xlink:href="../../assets/images/b177180f9448395068cc0742b018ef19.png" preserveAspectRatio="xMidYMid slice" />
            </svg>
            
            <div data-id="618E76A3-CBDF-43FA-B064-D8D074D4BDF1" data-type="text">
                <div data-text-paragraph-id="618E76A3-CBDF-43FA-B064-D8D074D4BDF1-0" class="text-content text-paragraph">
                    <span data-text-span-id="618E76A3-CBDF-43FA-B064-D8D074D4BDF1-0" class="text-content text-span">
                        <span>identificate</span>
                    </span>
                </div>
            </div>
            </div>

            <svg fill="none" viewBox="0 0 154 38" preserveAspectRatio="xMidYMid slice" data-id="2c04ebba-9dbd-4139-93d5-d23cb76c8745" data-type="image">
                <defs/>
                <image x="0" y="0" width="154" height="38" xlink:href="../../assets/images/f00d3dbd5eeb81e5242694c31d64f0c1.gif" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <div data-id="a46d7a25-f6e1-4efc-99b0-2af268166478" data-type="text">
                <div data-text-paragraph-id="a46d7a25-f6e1-4efc-99b0-2af268166478-0" class="text-content text-paragraph"><span data-text-span-id="a46d7a25-f6e1-4efc-99b0-2af268166478-0" class="text-content text-span"><span>Crea un Momento...﻿</span></span>
                </div>
            </div>

        </div>
      </div>
    <!--/inicio-->

    <!--Información de momento-->
    <div class="card hidden" data-id="8A730960-47ED-4804-9598-E351DDBE3E6B" data-type="card">
        <div class="wrapper">
            <svg fill="none" viewBox="0 0 1023 682" preserveAspectRatio="xMidYMid slice" data-id="D8C08B00-E465-412F-8BEB-BE791BBC8FB5" data-type="image">
                <defs/>
                <image x="0" y="0" width="1023" height="682" xlink:href="../../assets/images/9f47340771d184a0dc809922375cf511.jpg" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <svg fill="none" viewBox="0 0 951.0213243546576 662" preserveAspectRatio="xMidYMid slice" data-id="21EACC7C-6912-4E47-B0AB-08DF8B6CC27C" data-type="image">
                <defs>
                    <linearGradient id="gradient-sc4p6vg72" width="951.0213243546576" height="662" x1="0.5" y1="0.7304626981869049" x2="0.5" y2="0.8754797452156069">
                        <stop offset="0%" stop-color="#feffff00" stop-opacity="1" />
                        <stop offset="100%" stop-color="#feffffff" stop-opacity="1" />
                    </linearGradient>
                </defs>
                <image x="0" y="0" width="951.0213243546576" height="662" xlink:href="../../assets/images/mom_scr_a_2.jpg" preserveAspectRatio="xMidYMid slice" />
                <rect width="951.0213243546576" height="662" x="0" y="0" fill="url(#gradient-sc4p6vg72)" fill-opacity="1" mask="" />
            </svg>
      
            <div data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D" data-type="group">
                <div data-id="97A529DC-5C64-40AC-AE13-13698678ABAB" data-type="text">
                <div>
                    <ion-text>
                       <h5 class="margin-bottom-remove" size="small">eventosmomento.com</h5>
                       <h1 class="margin-top-remove" size="large">MOMENTOS PEM</h1>
                       <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et dui placerat, facilisis enim rutrum, lacinia metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac tur</p>
                    </ion-text>
                       <div class="ion-margin-top">
                        <a href="#" target="_blank"><ion-icon class="ion-margin-end" name="logo-instagram"></ion-icon></a>
                        <a href="#" target="_blank"><ion-icon class="ion-margin-end" name="logo-facebook"></ion-icon></a>
                        <a href="#" target="_blank"><ion-icon class="ion-margin-end" name="logo-youtube"></ion-icon></a>
                        <a href="#" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
                        </div>
                </div>
                </div>        
                  
                
            </div>
        </div>
      </div>
    <!--/Información de momento-->

    <!--comenzar ahora-->
    <div class="card hidden" data-id="4875BC62-1759-4F94-87F8-249946AC7555" data-type="card">
        <div class="wrapper">
            <svg fill="none" viewBox="0 0 668.6666666666666 1003" preserveAspectRatio="xMidYMid slice" data-id="F0402241-92B6-4842-97C3-9EC5FD9FFA5C" data-type="image">
                <defs/>
                <image x="0" y="0" width="668.6666666666666" height="1003" xlink:href="../../assets/images/73b1077332ef944b17b303357782748c.jpg" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <svg fill="none" viewBox="0 0 668 835.1598086124402" preserveAspectRatio="xMidYMid slice" data-id="00F8606D-FE24-4A5F-A9DB-5F3DC85FE2CE" data-type="image">
                <defs/>
                <image x="0" y="0" width="668" height="835.1598086124402" xlink:href="../../assets/images/7e54984c10f34d3a6d20b8e0971961fb.jpg" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <div data-id="3232B0D6-C712-428E-9E86-CC1F247693B0" data-type="group">
  
                <div data-id="E755211E-80A8-4189-990D-8642B47AC26F" data-type="text">
                
                <ion-text>
                    <h5 class="margin-bottom-remove" size="small">eventosmomento.com</h5>
                    <h1 class="margin-top-remove" size="large">MOMENTOS PEM</h1>
                    <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et dui placerat, facilisis enim rutrum, lacinia metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac tur</p>
                 </ion-text>
                    <div class="ion-margin-top">
                     <a href="#" target="_blank"><ion-icon class="ion-margin-end" name="logo-instagram"></ion-icon></a>
                     <a href="#" target="_blank"><ion-icon class="ion-margin-end" name="logo-facebook"></ion-icon></a>
                     <a href="#" target="_blank"><ion-icon class="ion-margin-end" name="logo-youtube"></ion-icon></a>
                     <a href="#" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
                     </div>

                <ion-button class="margin-top" href="#">COMIENZA AHORA</ion-button>
                
                </div>

                
            </div>
        </div>
    </div>
    <!--/comenzar ahora-->
    
    <!--sociales-->
    <div class="card hidden" data-id="78AF3047-7E04-4101-98E0-A71DDC18E506" data-type="card">
        <div class="wrapper">
            <svg fill="none" viewBox="0 0 1364 828" preserveAspectRatio="xMidYMid slice" data-id="1547FC76-E0E7-478F-9F3A-00D7DF95C911" data-type="image">
                <defs/>
                <image x="0" y="0" width="1364" height="828" xlink:href="../../assets/images/0dd5820a1b3f3ff852914ce253f40096.jpg" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <svg fill="none" viewBox="0 0 1062.748558246828 679" preserveAspectRatio="xMidYMid slice" data-id="4ED541B6-4A7F-465F-BE69-5C783B28DBD0" data-type="image">
                <defs/>
                <image x="0" y="0" width="1062.748558246828" height="679" xlink:href="../../assets/images/c41f624bcfafa300e9fb2f0679882a21.jpg" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <div data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107" data-type="group">
                <div data-id="CB626D74-4FCF-4586-96E9-090DD7F67E33" data-type="text">
                    <div data-text-paragraph-id="CB626D74-4FCF-4586-96E9-090DD7F67E33-0" class="text-content text-paragraph">
                        <span data-text-span-id="CB626D74-4FCF-4586-96E9-090DD7F67E33-0" class="text-content text-span">
                            <span>SOCIALES</span>
                        </span>
                    </div>
                </div>
                <div data-id="37554E6A-A620-4C46-BFA5-5E65E1F8AB75" data-type="text">
                    <div data-text-paragraph-id="37554E6A-A620-4C46-BFA5-5E65E1F8AB75-0" class="text-content text-paragraph"><span data-text-span-id="37554E6A-A620-4C46-BFA5-5E65E1F8AB75-0" class="text-content text-span">
                        <a href="//www.eventosmomento.com" target="_blank">eventosmomento.com</a>
                    </span>
                    </div>
                </div>
                <div data-id="C1F648B8-EE63-4FC6-9D55-CB4C423B3DD5" data-type="text">
                    <div data-text-paragraph-id="C1F648B8-EE63-4FC6-9D55-CB4C423B3DD5-0" class="text-content text-paragraph"><span data-text-span-id="C1F648B8-EE63-4FC6-9D55-CB4C423B3DD5-0" class="text-content text-span">
                        <span>Conserva tus recuerdos</span>
                    </span>
                    </div>
                </div>
                <div data-id="03B98670-B85C-443B-8552-83F32958DA7A" data-type="text">
                    <div data-text-paragraph-id="03B98670-B85C-443B-8552-83F32958DA7A-0" class="text-content text-paragraph"><span data-text-span-id="03B98670-B85C-443B-8552-83F32958DA7A-0" class="text-content text-span"><span>﻿freedom from pride or arrogance : 
the quality or state of being humble.﻿</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/sociales-->
    
    <!--dicipline-->
    <div class="card hidden" data-id="E4D65595-1DA8-41B2-B0D7-B2E3586404A9" data-type="card">
        <div class="wrapper">
            <svg fill="none" viewBox="0 0 445.1757298225529 667" preserveAspectRatio="xMidYMid slice" data-id="BE2C2E72-8EE7-429D-A307-57FE1CB76642" data-type="image">
                <defs/>
                <image x="0" y="0" width="445.1757298225529" height="667" xlink:href="../../assets/images/e8edf9abb946fee95460f98f47755434.jpg" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <svg fill="none" viewBox="0 0 587 834" preserveAspectRatio="xMidYMid slice" data-id="c05eeab9-f1bc-4698-9ee4-83962853879c" data-type="image">
                <defs/>
                <image x="0" y="0" width="587" height="834" xlink:href="../../assets/images/cf940423f358f1624efd2de13f447df9.jpg" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <div data-id="084A0385-8768-4CF2-AE02-703268C01C43" data-type="group">
                <div data-id="06BDAA54-F03F-48D4-9302-CAD8344B07F7" data-type="text">
                    <div data-text-paragraph-id="06BDAA54-F03F-48D4-9302-CAD8344B07F7-0" class="text-content text-paragraph"><span data-text-span-id="06BDAA54-F03F-48D4-9302-CAD8344B07F7-0" class="text-content text-span"><span>﻿to train or develop by instruction and exercise especially in self-control﻿</span></span>
                    </div>
                </div>
                <div data-id="20A5E2AA-26F3-4F56-B13E-C1A50D374D78" data-type="text">
                    <div data-text-paragraph-id="20A5E2AA-26F3-4F56-B13E-C1A50D374D78-0" class="text-content text-paragraph"><span data-text-span-id="20A5E2AA-26F3-4F56-B13E-C1A50D374D78-0" class="text-content text-span"><span>﻿verb﻿</span></span>
                    </div>
                </div>
                <div data-id="66579892-F7FB-4387-9638-F25380FD9647" data-type="text">
                    <div data-text-paragraph-id="66579892-F7FB-4387-9638-F25380FD9647-0" class="text-content text-paragraph"><span data-text-span-id="66579892-F7FB-4387-9638-F25380FD9647-0" class="text-content text-span"><span>﻿dis·ci·pline﻿</span></span>
                    </div>
                </div>
                <div data-id="6C681A76-99BA-45B9-AD64-563FAA623013" data-type="text">
                    <div data-text-paragraph-id="6C681A76-99BA-45B9-AD64-563FAA623013-0" class="text-content text-paragraph"><span data-text-span-id="6C681A76-99BA-45B9-AD64-563FAA623013-0" class="text-content text-span"><span>﻿discipline﻿</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/dicipline-->


    <!--explora-->
    <div class="card hidden" data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100" data-type="card">
        <div class="wrapper">
            <svg fill="none" viewBox="0 0 375 667" preserveAspectRatio="xMidYMid slice" data-id="C0666904-6E33-46CC-AC18-4F2D73EDD541" data-type="image">
                <defs/>
                <image x="0" y="0" width="375" height="667" xlink:href="../../assets/images/mom_bg.jpg" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <div data-id="e2ec743b-44f6-4ef4-ab5e-9afe78246b94" data-type="group">
                <div data-id="9c21ac66-77f1-4688-ab7c-7cf48e2fc779" data-type="text">
                    <div data-text-paragraph-id="9c21ac66-77f1-4688-ab7c-7cf48e2fc779-0" class="text-content text-paragraph"><span data-text-span-id="9c21ac66-77f1-4688-ab7c-7cf48e2fc779-0" class="text-content text-span"><span>﻿explora﻿</span></span>
                    </div>
                </div>
                <svg fill="none" viewBox="0 0 150 150" preserveAspectRatio="xMidYMid slice" data-id="efcc2c92-aa2b-4924-900f-fe32b99fe630" data-type="image">
                    <defs/>
                    <image x="0" y="0" width="150" height="150" xlink:href="../../assets/images/f3c14a267b2e6f44b375c91fef631056.png" preserveAspectRatio="xMidYMid slice" />
                </svg>
                <div data-id="44231c55-0c80-4b54-9a0d-a3f98d54b853" data-type="text">
                    <div data-text-paragraph-id="44231c55-0c80-4b54-9a0d-a3f98d54b853-0" class="text-content text-paragraph"><span data-text-span-id="44231c55-0c80-4b54-9a0d-a3f98d54b853-0" class="text-content text-span"><span>﻿tus momentos﻿</span></span>
                    </div>
                </div>
            </div>
            <div data-id="F93A6F64-E8B8-4E31-B29F-463B573DDEEC" data-type="group">
                <div data-id="44BF805F-10F4-43AD-A72A-6E966CAB765F" data-type="text">
                    <div data-text-paragraph-id="44BF805F-10F4-43AD-A72A-6E966CAB765F-0" class="text-content text-paragraph"><span data-text-span-id="44BF805F-10F4-43AD-A72A-6E966CAB765F-0" class="text-content text-span"><span>﻿CONNECT & REFLECT﻿</span></span>
                    </div>
                </div>
                <div data-id="6C9FFB58-30C4-4D7F-AE90-CE8E9C238305" data-type="group">
                    <svg fill="none" viewBox="0 0 49 49" preserveAspectRatio="none" data-id="B3CA3D2A-923F-43C2-B134-14D713016B49" data-type="svg">
                        <circle width="49" height="49" cx="24.5" cy="24.5" r="24.5" fill="#ffffffff" fill-opacity="1" />
                    </svg>
                    <svg fill="none" viewBox="0 0 22 18" preserveAspectRatio="none" data-id="936CAE08-3BDC-451B-81CB-BA99B478549D" data-type="svg">
                        <path width="22" height="18" d="M15.45 0.005023 L15.66 0.02009 L15.87 0.0449 L16.08 0.07933 L16.28 0.1231 L16.48 0.1758 L16.68 0.2375 L16.87 0.3078 L17.06 0.3865 L17.24 0.4734 L17.42 0.5683 L17.59 0.6708 L17.76 0.781 L17.93 0.8983 L18.09 1.023 L18.24 1.154 L18.38 1.292 L18.53 1.436 L18.7 1.401 L18.87 1.362 L19.03 1.32 L19.2 1.275 L19.37 1.227 L19.53 1.175 L19.69 1.121 L19.86 1.064 L20.02 1.003 L20.18 0.94 L20.33 0.8738 L20.49 0.8048 L20.64 0.7329 L20.8 0.6583 L20.95 0.5807 L21.1 0.5005 L21.25 0.4176 L21.39 0.332 L21.33 0.5072 L21.27 0.6793 L21.19 0.8478 L21.11 1.013 L21.03 1.174 L20.93 1.331 L20.84 1.484 L20.73 1.632 L20.62 1.776 L20.51 1.916 L20.39 2.051 L20.26 2.181 L20.13 2.305 L19.99 2.425 L19.85 2.539 L19.71 2.647 L19.56 2.75 L19.41 2.847 L19.56 2.827 L19.71 2.805 L19.86 2.781 L20.01 2.754 L20.16 2.724 L20.31 2.692 L20.45 2.658 L20.6 2.622 L20.74 2.583 L20.89 2.542 L21.03 2.498 L21.17 2.452 L21.31 2.404 L21.45 2.354 L21.59 2.301 L21.73 2.247 L21.86 2.19 L22 2.13 L21.9 2.281 L21.79 2.43 L21.68 2.577 L21.57 2.721 L21.46 2.863 L21.34 3.003 L21.22 3.141 L21.1 3.276 L20.98 3.409 L20.85 3.539 L20.72 3.666 L20.59 3.791 L20.45 3.913 L20.32 4.033 L20.18 4.15 L20.04 4.264 L19.89 4.375 L19.75 4.483 L19.75 4.548 L19.75 4.614 L19.75 4.646 L19.75 4.679 L19.76 4.712 L19.76 4.744 L19.76 4.777 L19.76 4.81 L19.76 4.842 L19.76 4.875 L19.76 4.908 L19.76 4.94 L19.76 4.973 L19.76 5.006 L19.76 5.039 L19.76 5.071 L19.72 6.079 L19.59 7.096 L19.39 8.114 L19.1 9.125 L18.73 10.12 L18.28 11.09 L17.75 12.03 L17.14 12.93 L16.45 13.79 L15.69 14.59 L14.85 15.32 L13.94 15.98 L12.95 16.57 L11.89 17.06 L10.75 17.46 L9.546 17.75 L8.268 17.94 L6.919 18 L6.496 17.99 L6.077 17.97 L5.661 17.94 L5.249 17.89 L4.841 17.83 L4.437 17.76 L4.038 17.67 L3.643 17.57 L3.253 17.46 L2.869 17.34 L2.49 17.21 L2.116 17.06 L1.748 16.9 L1.385 16.74 L1.029 16.56 L0.6797 16.37 L0.3365 16.17 L0 15.96 L0.05893 15.97 L0.118 15.97 L0.1771 15.98 L0.2364 15.98 L0.2957 15.99 L0.3552 15.99 L0.4147 16 L0.4744 16 L0.5342 16.01 L0.594 16.01 L0.654 16.01 L0.7141 16.02 L0.7744 16.02 L0.8347 16.02 L0.895 16.02 L0.9555 16.02 L1.016 16.02 L1.077 16.02 L1.428 16.02 L1.775 16 L2.119 15.96 L2.459 15.92 L2.795 15.86 L3.127 15.79 L3.454 15.71 L3.776 15.61 L4.094 15.51 L4.405 15.39 L4.712 15.26 L5.013 15.12 L5.307 14.97 L5.596 14.81 L5.878 14.64 L6.153 14.47 L6.421 14.28 L6.682 14.08 L6.356 14.06 L6.036 14.02 L5.724 13.96 L5.42 13.87 L5.124 13.77 L4.839 13.64 L4.564 13.5 L4.3 13.34 L4.049 13.16 L3.81 12.97 L3.586 12.76 L3.376 12.53 L3.181 12.3 L3.002 12.04 L2.841 11.78 L2.697 11.5 L2.572 11.22 L2.467 10.92 L2.513 10.93 L2.559 10.94 L2.605 10.95 L2.651 10.95 L2.698 10.96 L2.744 10.97 L2.791 10.97 L2.838 10.98 L2.885 10.98 L2.932 10.99 L2.98 10.99 L3.027 10.99 L3.075 11 L3.123 11 L3.171 11 L3.219 11 L3.268 11 L3.316 11 L3.385 11 L3.453 11 L3.521 11 L3.588 11 L3.655 10.99 L3.722 10.99 L3.789 10.98 L3.856 10.97 L3.922 10.96 L3.988 10.95 L4.054 10.94 L4.12 10.93 L4.185 10.92 L4.25 10.91 L4.314 10.89 L4.378 10.88 L4.442 10.86 L4.505 10.84 L4.166 10.76 L3.837 10.65 L3.52 10.52 L3.216 10.37 L2.925 10.19 L2.649 9.992 L2.388 9.774 L2.145 9.538 L1.92 9.285 L1.714 9.014 L1.528 8.729 L1.364 8.429 L1.222 8.115 L1.103 7.79 L1.009 7.453 L0.9399 7.107 L0.898 6.751 L0.8837 6.388 L0.8837 6.372 L0.8838 6.368 L0.8838 6.365 L0.8839 6.362 L0.8839 6.359 L0.884 6.356 L0.8841 6.352 L0.8842 6.349 L0.8844 6.346 L0.8846 6.343 L0.8849 6.34 L0.8853 6.334 L0.8856 6.331 L0.9876 6.386 L1.091 6.439 L1.196 6.489 L1.303 6.537 L1.411 6.582 L1.52 6.624 L1.631 6.663 L1.744 6.7 L1.857 6.733 L1.972 6.764 L2.088 6.792 L2.205 6.817 L2.323 6.838 L2.442 6.857 L2.562 6.872 L2.683 6.884 L2.805 6.893 L2.928 6.898 L2.73 6.757 L2.541 6.606 L2.359 6.445 L2.187 6.274 L2.023 6.095 L1.87 5.906 L1.726 5.71 L1.593 5.505 L1.47 5.293 L1.359 5.074 L1.26 4.848 L1.172 4.617 L1.097 4.379 L1.034 4.136 L0.9852 3.887 L0.9495 3.634 L0.9278 3.377 L0.9205 3.116 L0.9225 2.978 L0.9286 2.841 L0.9387 2.705 L0.9528 2.57 L0.9707 2.436 L0.9925 2.303 L1.018 2.172 L1.047 2.042 L1.08 1.914 L1.117 1.787 L1.157 1.662 L1.2 1.538 L1.247 1.416 L1.297 1.295 L1.351 1.176 L1.408 1.06 L1.468 0.9448 L1.531 0.8319 L1.912 1.281 L2.313 1.713 L2.733 2.125 L3.171 2.518 L3.627 2.891 L4.099 3.243 L4.588 3.573 L5.092 3.881 L5.611 4.166 L6.145 4.427 L6.691 4.664 L7.25 4.876 L7.822 5.062 L8.405 5.222 L8.998 5.354 L9.601 5.458 L10.21 5.534 L10.84 5.581 L10.82 5.525 L10.81 5.469 L10.8 5.413 L10.79 5.356 L10.78 5.3 L10.77 5.243 L10.76 5.186 L10.75 5.128 L10.75 5.071 L10.74 5.013 L10.74 4.955 L10.73 4.897 L10.73 4.839 L10.72 4.78 L10.72 4.722 L10.72 4.663 L10.72 4.604 L10.72 4.545 L10.74 4.131 L10.79 3.728 L10.88 3.336 L11 2.959 L11.15 2.596 L11.33 2.251 L11.54 1.923 L11.78 1.616 L12.04 1.331 L12.32 1.068 L12.63 0.8311 L12.95 0.6203 L13.3 0.4373 L13.66 0.2841 L14.03 0.1622 L14.42 0.07315 L14.82 0.01852 L15.23 0 Z" fill-rule="evenodd" fill="#ffffffff" fill-opacity="1" />
                    </svg>
                </div>
                <div data-id="A37778BE-B939-4C94-A371-F29D96EBDCD3" data-type="group">
                    <svg fill="none" viewBox="0 0 49 49" preserveAspectRatio="none" data-id="C5B4529C-0D62-4C75-8688-F1DBB637BC35" data-type="svg">
                        <circle width="49" height="49" cx="24.5" cy="24.5" r="24.5" fill="#ffffffff" fill-opacity="1" />
                    </svg>
                    <svg fill="none" viewBox="0 0 23 23" preserveAspectRatio="none" data-id="9978C166-EE69-4E5E-977F-9122D54491CF" data-type="svg">
                        <path width="23" height="23" d="M16.87 0 L16.87 0 L17.42 0.02464 L17.96 0.09716 L18.48 0.2155 L18.98 0.3774 L19.47 0.581 L19.93 0.824 L20.37 1.104 L20.78 1.42 L21.16 1.769 L21.52 2.149 L21.84 2.557 L22.12 2.993 L22.37 3.453 L22.58 3.936 L22.75 4.44 L22.88 4.962 L22.96 5.5 L23 6.053 L23 6.174 L23 16.83 L23 16.83 L22.98 17.38 L22.9 17.92 L22.79 18.45 L22.63 18.96 L22.42 19.44 L22.18 19.91 L21.9 20.35 L21.59 20.77 L21.24 21.15 L20.87 21.51 L20.46 21.83 L20.03 22.12 L19.57 22.37 L19.09 22.58 L18.59 22.75 L18.07 22.88 L17.54 22.96 L16.99 23 L16.87 23 L6.133 23 L6.133 23 L5.582 22.98 L5.044 22.9 L4.521 22.78 L4.017 22.62 L3.533 22.42 L3.07 22.18 L2.632 21.9 L2.22 21.58 L1.836 21.23 L1.483 20.85 L1.162 20.44 L0.8758 20.01 L0.6262 19.55 L0.4153 19.06 L0.2453 18.56 L0.1182 18.04 L0.03613 17.5 L0.001164 16.95 L0 16.83 L0 6.174 L0 6.174 L0.02448 5.619 L0.09651 5.077 L0.214 4.552 L0.3749 4.044 L0.5771 3.556 L0.8185 3.091 L1.097 2.65 L1.41 2.235 L1.757 1.849 L2.134 1.493 L2.54 1.17 L2.973 0.8817 L3.43 0.6304 L3.91 0.4181 L4.41 0.2469 L4.929 0.119 L5.464 0.03637 L6.013 0.001172 L6.133 0 Z M16.87 2.315 L6.133 2.315 L6.133 2.315 L5.79 2.331 L5.456 2.376 L5.131 2.449 L4.817 2.549 L4.515 2.675 L4.228 2.825 L3.955 2.999 L3.698 3.194 L3.458 3.41 L3.238 3.646 L3.037 3.899 L2.858 4.169 L2.701 4.454 L2.568 4.754 L2.461 5.066 L2.379 5.39 L2.326 5.724 L2.301 6.066 L2.3 6.174 L2.3 16.83 L2.3 16.83 L2.315 17.17 L2.36 17.51 L2.432 17.83 L2.532 18.15 L2.657 18.45 L2.807 18.74 L2.979 19.02 L3.173 19.28 L3.388 19.52 L3.621 19.74 L3.873 19.94 L4.141 20.12 L4.425 20.28 L4.722 20.41 L5.032 20.52 L5.354 20.6 L5.685 20.66 L6.026 20.68 L6.133 20.68 L16.87 20.68 L16.87 20.68 L17.21 20.67 L17.54 20.62 L17.87 20.55 L18.18 20.45 L18.48 20.33 L18.77 20.17 L19.05 20 L19.3 19.81 L19.54 19.59 L19.76 19.35 L19.96 19.1 L20.14 18.83 L20.3 18.55 L20.43 18.25 L20.54 17.93 L20.62 17.61 L20.67 17.28 L20.7 16.93 L20.7 16.83 L20.7 6.174 L20.7 6.174 L20.68 5.829 L20.64 5.492 L20.57 5.165 L20.47 4.849 L20.34 4.546 L20.19 4.256 L20.02 3.981 L19.83 3.722 L19.61 3.481 L19.38 3.259 L19.13 3.057 L18.86 2.877 L18.58 2.719 L18.28 2.585 L17.97 2.477 L17.65 2.395 L17.31 2.341 L16.97 2.317 Z M5.604 11.5 L5.629 10.96 L5.699 10.43 L5.815 9.922 L5.973 9.429 L6.172 8.956 L6.409 8.504 L6.683 8.077 L6.991 7.676 L7.331 7.303 L7.702 6.961 L8.1 6.651 L8.524 6.375 L8.973 6.136 L9.443 5.936 L9.933 5.777 L10.44 5.661 L10.96 5.589 L11.5 5.565 L11.5 5.565 L12.04 5.589 L12.56 5.661 L13.07 5.777 L13.56 5.936 L14.03 6.136 L14.48 6.375 L14.9 6.651 L15.3 6.961 L15.67 7.303 L16.01 7.676 L16.32 8.077 L16.59 8.504 L16.83 8.956 L17.03 9.429 L17.18 9.922 L17.3 10.43 L17.37 10.96 L17.4 11.5 L17.4 11.5 L17.37 12.04 L17.3 12.57 L17.18 13.08 L17.03 13.57 L16.83 14.04 L16.59 14.5 L16.32 14.92 L16.01 15.32 L15.67 15.7 L15.3 16.04 L14.9 16.35 L14.48 16.62 L14.03 16.86 L13.56 17.06 L13.07 17.22 L12.56 17.34 L12.04 17.41 L11.5 17.44 L11.5 17.44 L10.96 17.41 L10.44 17.34 L9.933 17.22 L9.443 17.06 L8.973 16.86 L8.524 16.62 L8.1 16.35 L7.702 16.04 L7.331 15.7 L6.991 15.32 L6.683 14.92 L6.409 14.5 L6.172 14.04 L5.973 13.57 L5.815 13.08 L5.699 12.57 L5.629 12.04 L5.604 11.5 Z M15.1 11.5 L15.08 11.17 L15.04 10.85 L14.97 10.54 L14.87 10.24 L14.75 9.948 L14.6 9.673 L14.44 9.413 L14.25 9.168 L14.04 8.941 L13.82 8.732 L13.57 8.543 L13.31 8.375 L13.04 8.229 L12.75 8.107 L12.46 8.01 L12.15 7.939 L11.83 7.895 L11.5 7.88 L11.5 7.88 L11.17 7.895 L10.85 7.939 L10.54 8.01 L10.25 8.107 L9.959 8.229 L9.685 8.375 L9.426 8.543 L9.183 8.732 L8.958 8.941 L8.75 9.168 L8.562 9.413 L8.395 9.673 L8.251 9.948 L8.129 10.24 L8.033 10.54 L7.962 10.85 L7.919 11.17 L7.904 11.5 L7.904 11.5 L7.919 11.83 L7.962 12.15 L8.033 12.46 L8.129 12.76 L8.251 13.05 L8.395 13.33 L8.562 13.59 L8.75 13.83 L8.958 14.06 L9.183 14.27 L9.426 14.46 L9.685 14.63 L9.959 14.77 L10.25 14.89 L10.54 14.99 L10.85 15.06 L11.17 15.1 L11.5 15.12 L11.5 15.12 L11.83 15.1 L12.15 15.06 L12.46 14.99 L12.75 14.89 L13.04 14.77 L13.31 14.63 L13.57 14.46 L13.82 14.27 L14.04 14.06 L14.25 13.83 L14.44 13.59 L14.6 13.33 L14.75 13.05 L14.87 12.76 L14.97 12.46 L15.04 12.15 L15.08 11.83 L15.1 11.5 Z M16.05 5.48 L16.05 5.348 L16.07 5.22 L16.1 5.096 L16.14 4.976 L16.19 4.861 L16.24 4.751 L16.31 4.648 L16.38 4.55 L16.47 4.459 L16.56 4.376 L16.65 4.301 L16.76 4.234 L16.87 4.176 L16.98 4.127 L17.1 4.088 L17.22 4.06 L17.35 4.043 L17.48 4.037 L17.48 4.037 L17.61 4.043 L17.74 4.06 L17.86 4.088 L17.98 4.127 L18.09 4.176 L18.2 4.234 L18.31 4.301 L18.4 4.376 L18.49 4.459 L18.58 4.55 L18.65 4.648 L18.72 4.751 L18.78 4.861 L18.82 4.976 L18.86 5.096 L18.89 5.22 L18.91 5.348 L18.91 5.48 L18.91 5.48 L18.91 5.611 L18.89 5.739 L18.86 5.863 L18.82 5.983 L18.78 6.098 L18.72 6.208 L18.65 6.312 L18.58 6.409 L18.49 6.5 L18.4 6.583 L18.31 6.658 L18.2 6.725 L18.09 6.783 L17.98 6.832 L17.86 6.871 L17.74 6.899 L17.61 6.917 L17.48 6.922 L17.48 6.922 L17.35 6.917 L17.22 6.899 L17.1 6.871 L16.98 6.832 L16.87 6.783 L16.76 6.725 L16.65 6.658 L16.56 6.583 L16.47 6.5 L16.38 6.409 L16.31 6.312 L16.24 6.208 L16.19 6.098 L16.14 5.983 L16.1 5.863 L16.07 5.739 L16.05 5.611 L16.05 5.48 Z" fill="#ffffffff" fill-opacity="1" />
                    </svg>
                </div>
                <div data-id="67C72AA1-43DB-4183-B252-57C013EFFE4B" data-type="group">
                    <svg fill="none" viewBox="0 0 49 49" preserveAspectRatio="none" data-id="F13A0E9F-4CCA-47E5-8F2C-A384AABC082D" data-type="svg">
                        <circle width="49" height="49" cx="24.5" cy="24.5" r="24.5" fill="#ffffffff" fill-opacity="1" />
                    </svg>
                    <svg fill="none" viewBox="0 0 18 18" preserveAspectRatio="none" data-id="05D28152-8045-464E-ADEC-628E1152FBF9" data-type="svg">
                        <path width="18" height="18" d="M18 18 L14.14 18 L14.14 11.34 L14.14 11.34 L14.13 11.08 L14.12 10.83 L14.09 10.6 L14.05 10.37 L14 10.16 L13.94 9.959 L13.87 9.77 L13.78 9.595 L13.69 9.434 L13.57 9.287 L13.45 9.156 L13.31 9.04 L13.16 8.94 L12.99 8.857 L12.81 8.792 L12.62 8.744 L12.41 8.715 L12.18 8.705 L12.18 8.705 L12.01 8.712 L11.84 8.731 L11.69 8.762 L11.54 8.804 L11.39 8.856 L11.26 8.918 L11.13 8.988 L11.01 9.066 L10.9 9.152 L10.79 9.244 L10.7 9.342 L10.61 9.444 L10.52 9.551 L10.44 9.661 L10.37 9.774 L10.31 9.888 L10.26 10 L10.21 10.12 L10.21 10.12 L10.19 10.16 L10.17 10.21 L10.16 10.25 L10.15 10.3 L10.14 10.35 L10.13 10.4 L10.12 10.45 L10.11 10.5 L10.1 10.55 L10.1 10.61 L10.09 10.66 L10.09 10.72 L10.08 10.78 L10.08 10.83 L10.08 10.89 L10.08 10.95 L10.08 11 L10.08 11.06 L10.08 18 L6.218 18 L6.218 18 L6.218 17.9 L6.219 17.62 L6.221 17.18 L6.224 16.6 L6.226 15.91 L6.229 15.11 L6.232 14.25 L6.235 13.32 L6.237 12.37 L6.239 11.41 L6.24 10.46 L6.24 9.542 L6.24 8.679 L6.238 7.891 L6.235 7.201 L6.231 6.629 L6.225 6.198 L6.218 5.928 L10.08 5.928 L10.08 7.576 L10.08 7.576 L10.17 7.441 L10.26 7.302 L10.37 7.159 L10.49 7.014 L10.61 6.869 L10.75 6.726 L10.9 6.585 L11.06 6.449 L11.24 6.319 L11.43 6.196 L11.63 6.081 L11.86 5.977 L12.09 5.885 L12.35 5.806 L12.62 5.743 L12.91 5.695 L13.22 5.666 L13.56 5.655 L13.56 5.655 L13.97 5.671 L14.38 5.717 L14.77 5.795 L15.14 5.904 L15.5 6.045 L15.84 6.218 L16.16 6.424 L16.45 6.662 L16.73 6.932 L16.98 7.236 L17.21 7.574 L17.41 7.944 L17.59 8.349 L17.73 8.788 L17.85 9.261 L17.93 9.768 L17.98 10.31 L18 10.89 Z M2.154 4.312 L2.154 4.312 L1.958 4.304 L1.767 4.278 L1.581 4.235 L1.402 4.178 L1.231 4.105 L1.067 4.018 L0.9117 3.918 L0.7661 3.805 L0.6308 3.681 L0.5065 3.545 L0.394 3.4 L0.2941 3.244 L0.2074 3.08 L0.1347 2.908 L0.07693 2.729 L0.0347 2.543 L0.008802 2.352 L0 2.156 L0 2.156 L0.008802 1.96 L0.0347 1.768 L0.07693 1.583 L0.1347 1.404 L0.2074 1.232 L0.2941 1.068 L0.394 0.9127 L0.5065 0.767 L0.6308 0.6315 L0.7661 0.5071 L0.9117 0.3945 L1.067 0.2944 L1.231 0.2076 L1.402 0.1349 L1.581 0.07703 L1.767 0.03474 L1.958 0.008813 L2.154 0 L2.154 0 L2.35 0.008813 L2.541 0.03474 L2.726 0.07703 L2.905 0.1349 L3.077 0.2076 L3.24 0.2944 L3.395 0.3945 L3.541 0.5071 L3.676 0.6315 L3.8 0.767 L3.912 0.9127 L4.012 1.068 L4.099 1.232 L4.171 1.404 L4.229 1.583 L4.271 1.768 L4.297 1.96 L4.306 2.156 L4.306 2.156 L4.297 2.352 L4.271 2.543 L4.229 2.729 L4.171 2.908 L4.099 3.08 L4.012 3.244 L3.912 3.4 L3.8 3.545 L3.676 3.681 L3.541 3.805 L3.395 3.918 L3.24 4.018 L3.077 4.105 L2.905 4.178 L2.726 4.235 L2.541 4.278 L2.35 4.304 L2.154 4.312 Z M0.2226 18 L4.081 18 L4.081 5.928 L0.2226 5.928 Z" fill-rule="evenodd" fill="#ffffffff" fill-opacity="1" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!--/explora-->


    <!-- TOKEN 1 SOLICITUD INICIO -->
    <div class="card hidden" data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c" data-type="card">
        <div class="wrapper">
            <div data-id="DC62FF00-5089-49B9-BDE8-E1F384A0CF35" data-type="group">
                <!--<svg fill="none" viewBox="0 0 264 52" preserveAspectRatio="none" data-id="728C2289-5670-487D-A98E-2D02F962F04F" data-type="svg">
                    <rect x="0.5" y="0.5" rx="4.5" ry="4.5" stroke="#878787ff" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" stroke-miterlimit="10" width="263" height="51" />
                </svg>-->
                <form (ngSubmit)="verifyTwoFactory()" #formulario="ngForm">
                    <ion-item>
                      <ion-label position="floating">Email</ion-label>
                      <ion-input type="email"
                                 name="email"
                                 [(ngModel)]="employe.email"
                                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                 required></ion-input>
                    </ion-item>
                    <ion-button expand="full"
                                  type="submit"
                                  data-id="0C02D32A-F053-4445-AB40-73C861E1D879">
                                  SOLICITAR TOKEN
                                  <!--<div data-id="0C02D32A-F053-4445-AB40-73C861E1D879" data-type="text">
                                    <div data-text-paragraph-id="0C02D32A-F053-4445-AB40-73C861E1D879-0" class="text-content text-paragraph"><span data-text-span-id="0C02D32A-F053-4445-AB40-73C861E1D879-0" class="text-content text-span"><span>SOLICITAR TOKEN</span></span>
                                    </div>
                                </div>-->
                    </ion-button>
                  </form>
                <div data-id="7B017DE4-2820-4819-8266-F347C361E1E7" data-type="text">
                    <div data-text-paragraph-id="7B017DE4-2820-4819-8266-F347C361E1E7-0" class="text-content text-paragraph"><span data-text-span-id="7B017DE4-2820-4819-8266-F347C361E1E7-0" class="text-content text-span"><span>﻿coloca tu email﻿</span></span>
                    </div>
                </div>
            </div>
            <svg fill="none" viewBox="0 0 150 113" preserveAspectRatio="xMidYMid slice" data-id="a7b885c4-e8c8-4e22-9e92-bd6a1ce73256" data-type="image">
                <defs/>
                <image x="0" y="0" width="150" height="113" xlink:href="../../assets/images/09c2efe0c30eb5f0fd614c2cb82e3865.png" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <svg fill="none" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid slice" data-id="76907f0e-5af8-4593-9191-8286888c4268" data-type="image">
                <defs/>
                <image x="0" y="0" width="24" height="24" xlink:href="../../assets/images/c016e6d972f5390619d276622e8fecd9.png" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <div data-id="BDAC0717-B745-48F6-AE12-CE9D66A5DB60" data-type="text">
                <div data-text-paragraph-id="BDAC0717-B745-48F6-AE12-CE9D66A5DB60-0" class="text-content text-paragraph"><span data-text-span-id="BDAC0717-B745-48F6-AE12-CE9D66A5DB60-0" class="text-content text-span"><span>﻿Revisa tu email﻿</span></span><span data-text-span-id="BDAC0717-B745-48F6-AE12-CE9D66A5DB60-1" class="text-content text-span"><span>﻿
Encontrarás un token de seguridad único
copialo y pegalo en la pantalla siguiente
para acceder al perfil de tus eventos﻿</span></span>
                </div>
            </div>
        </div>
    </div>
    <!-- TOKEN 1 SOLICITUD INICIO -->


    <!-- TOKEN 2 SOLICITUD INSERT -->
    <div class="card hidden" data-id="b058e5cd-e6a5-42a8-880d-1cce50687810" data-type="card">
        <div class="wrapper">
            <svg fill="none" viewBox="0 0 128 128" preserveAspectRatio="xMidYMid slice" data-id="cbeffed7-61c5-4d85-a2be-2f1a6687b212" data-type="image">
                <defs/>
                <image x="0" y="0" width="128" height="128" xlink:href="../../assets/images/3d92316a7d6fc72e211c3e3ddd1df7e4.png" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <div data-id="d41774fe-abb7-478f-a2ad-1254eae744d9" data-type="group">
                <svg fill="none" viewBox="0 0 264 52" preserveAspectRatio="none" data-id="4bd6e643-4783-4b3f-9be8-ab2d765aa262" data-type="svg">
                    <rect x="0.5" y="0.5" rx="4.5" ry="4.5" stroke="#878787ff" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" stroke-miterlimit="10" width="263" height="51" />
                </svg>
                <form (ngSubmit)="verifyToken()" #formulario="ngForm">
                    <ion-item>
                      <ion-label position="floating">Token</ion-label>
                      <ion-input type="text"
                                 name="token"
                                 [(ngModel)]="employe.token"
                                 minlength="6"
                                 maxlength="6"
                                 placeholder="Ingrese el código de 6 digitos"
                                 required></ion-input>
                    </ion-item>
                    <ion-button expand="full"
                                  type="submit"
                                  [disabled]="formulario.invalid">
                                  <div data-type="text">
                                    <div data-text-paragraph-id="e334d4f3-07ec-4215-b5b5-610af3a5f6a4-0" class="text-content text-paragraph">
                                        <span data-text-span-id="e334d4f3-07ec-4215-b5b5-610af3a5f6a4-0" class="text-content text-span"><span>VERIFICAR ID</span></span>
                                    </div>
                                </div>
                    </ion-button>
                  </form>
            </div>
            <div data-id="763b47bd-222c-4a15-9648-51220ef32128" data-type="text">
                <div data-text-paragraph-id="763b47bd-222c-4a15-9648-51220ef32128-0" class="text-content text-paragraph">
                    <span data-text-span-id="763b47bd-222c-4a15-9648-51220ef32128-0" class="text-content text-span">
                        <span>﻿Revisa tu email﻿</span>
                    </span>
                    <span data-text-span-id="763b47bd-222c-4a15-9648-51220ef32128-1" class="text-content text-span"><span>Pega el token de seguridad en este campoy presiona el botón VERIFICAR ID para acceder a tus eventos</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
<!-- TOKEN 1 SOLICITUD FINAL -->

<!-- PAGINA EMPRESA MOCKUP -->
<div class="card scrolling hidden" data-id="ab1ad13b-4d31-4f40-9d67-cc50287ee465" data-type="card"></div>
<!-- PAGINA EMPRESA MOCKUP -->

<!-- PAGINA EMPRESA COMIENZO >
    
    <div class="card scrolling hidden" data-id="ab1ad13b-4d31-4f40-9d67-cc50287ee465" data-type="card">
        <div class="wrapper">
            <svg fill="none" viewBox="0 0 205 215" preserveAspectRatio="xMidYMid slice" data-id="3e1ec960-ca18-46ab-bbeb-04e734c86915" data-type="image">
                <defs/>
                <image x="0" y="0" width="205" height="215" xlink:href="../../assets/images/7e967f22c9701f07f47e344b93a2107c.png" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <div data-id="97e739c6-23bf-4b7d-88c9-a01f24457b8a" data-type="text">
                <div data-text-paragraph-id="97e739c6-23bf-4b7d-88c9-a01f24457b8a-0" class="text-content text-paragraph"><span data-text-span-id="97e739c6-23bf-4b7d-88c9-a01f24457b8a-0" class="text-content text-span"><span>﻿SASA SOCIAL﻿</span></span><span data-text-span-id="97e739c6-23bf-4b7d-88c9-a01f24457b8a-1" class="text-content text-span"><span>﻿
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua﻿</span></span>
                </div>
            </div>
            <div data-id="30057435-0317-4597-95CD-3B766C66DE12" data-type="group">
                <svg fill="none" viewBox="0 0 263 1" preserveAspectRatio="none" data-id="6A7A0597-AFDF-4352-AFE6-D97A1CAD0476" data-type="svg">
                    <path d="M0 1 L263 0" stroke="#878787ff" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" stroke-miterlimit="10" />
                </svg>
                <div data-id="97F55116-D9E3-4535-A8A1-129E53611888" data-type="text">
                    <div data-text-paragraph-id="97F55116-D9E3-4535-A8A1-129E53611888-0" class="text-content text-paragraph"><span data-text-span-id="97F55116-D9E3-4535-A8A1-129E53611888-0" class="text-content text-span"><span>﻿+57 319.577.5617﻿</span></span>
                    </div>
                </div>
                <div data-id="a00382aa-6b5e-43cc-8639-30eae6f74079" data-type="text">
                    <div data-text-paragraph-id="a00382aa-6b5e-43cc-8639-30eae6f74079-0" class="text-content text-paragraph"><span data-text-span-id="a00382aa-6b5e-43cc-8639-30eae6f74079-0" class="text-content text-span"><span>﻿info@sasa.social﻿</span></span>
                    </div>
                </div>
                <div data-id="f67cad34-5bb4-4301-b3d6-15095da323d4" data-type="text">
                    <div data-text-paragraph-id="f67cad34-5bb4-4301-b3d6-15095da323d4-0" class="text-content text-paragraph"><span data-text-span-id="f67cad34-5bb4-4301-b3d6-15095da323d4-0" class="text-content text-span"><span>﻿Bogotá, Crr 83 #8-72﻿</span></span>
                    </div>
                </div>
                <div data-id="08207910-1168-43bb-b4eb-190c0153e5fa" data-type="text">
                    <div data-text-paragraph-id="08207910-1168-43bb-b4eb-190c0153e5fa-0" class="text-content text-paragraph"><span data-text-span-id="08207910-1168-43bb-b4eb-190c0153e5fa-0" class="text-content text-span"><span>﻿www.sasa.social﻿</span></span>
                    </div>
                </div>
                <svg fill="none" viewBox="0 0 9 9" preserveAspectRatio="xMidYMid slice" data-id="5bc1c9c7-b91b-450d-bc18-68eeaac58f9f" data-type="image">
                    <defs/>
                    <image x="0" y="0" width="9" height="9" xlink:href="../../assets/images/99a258a3065941c965be181959fde22d.png" preserveAspectRatio="xMidYMid slice" />
                </svg>
                <svg fill="none" viewBox="0 0 9 9" preserveAspectRatio="xMidYMid slice" data-id="18525d17-aa54-4383-8518-64c86f1b080f" data-type="image">
                    <defs/>
                    <image x="0" y="0" width="9" height="9" xlink:href="../../assets/images/866a110656a5b1dfaedc543bf5f74813.png" preserveAspectRatio="xMidYMid slice" />
                </svg>
                <svg fill="none" viewBox="0 0 9 9" preserveAspectRatio="xMidYMid slice" data-id="f5b891c5-c3b5-4f60-9932-623b99377c42" data-type="image">
                    <defs/>
                    <image x="0" y="0" width="9" height="9" xlink:href="../../assets/images/6ade112b9daea159985bffa545a969b3.png" preserveAspectRatio="xMidYMid slice" />
                </svg>
                <svg fill="none" viewBox="0 0 9 9" preserveAspectRatio="xMidYMid slice" data-id="bb9a605d-a839-4b41-9423-1f6bc6d99d8f" data-type="image">
                    <defs/>
                    <image x="0" y="0" width="9" height="9" xlink:href="../../assets/images/21dc1bc4bde9287ce82fba8f4f5b30aa.png" preserveAspectRatio="xMidYMid slice" />
                </svg>
            </div>
            <div data-id="701751A7-6E4A-4501-8383-DFC9FB94771A" data-type="group">
                <svg fill="none" viewBox="0 0 302 65" preserveAspectRatio="none" data-id="D0FDC425-4D8E-4988-AC6B-ABC77669F84D" data-type="svg">
                    <rect x="0.5" y="0.5" rx="4.5" ry="4.5" stroke="#d6d6d6ff" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" stroke-miterlimit="10" width="301" height="64" />
                </svg>
                <svg fill="none" viewBox="0 0 45 45" preserveAspectRatio="none" data-id="F63C1D16-16CA-46CD-A35F-FB73CCE27F31" data-type="svg">
                    <circle width="45" height="45" cx="22.5" cy="22.5" r="22.5" fill="#ccccccff" fill-opacity="1" />
                </svg>
                <div data-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90" data-type="text">
                    <div data-text-paragraph-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90-0" class="text-content text-paragraph"><span data-text-span-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90-0" class="text-content text-span"><span>﻿SASA SOCIAL﻿</span></span><span data-text-span-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90-1" class="text-content text-span"><span>﻿
﻿</span></span><span data-text-span-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90-2" class="text-content text-span"><span>﻿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor﻿</span></span>
                    </div>
                </div>
            </div>
            <div data-id="a5a9edf4-3be0-406a-80e0-0c8cea9bfada" data-type="group">
                <svg fill="none" viewBox="0 0 302 65" preserveAspectRatio="none" data-id="6d3fe0f8-013b-4ed5-9e05-79a87a871e22" data-type="svg">
                    <rect x="0.5" y="0.5" rx="4.5" ry="4.5" stroke="#d6d6d6ff" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" stroke-miterlimit="10" width="301" height="64" />
                </svg>
                <svg fill="none" viewBox="0 0 45 45" preserveAspectRatio="none" data-id="40c97664-621b-4221-bcd4-7f057c68226e" data-type="svg">
                    <circle width="45" height="45" cx="22.5" cy="22.5" r="22.5" fill="#ccccccff" fill-opacity="1" />
                </svg>
                <div data-id="135b6f51-f680-4c98-9afc-93f6eead0774" data-type="text">
                    <div data-text-paragraph-id="135b6f51-f680-4c98-9afc-93f6eead0774-0" class="text-content text-paragraph"><span data-text-span-id="135b6f51-f680-4c98-9afc-93f6eead0774-0" class="text-content text-span"><span>﻿SASA SOCIAL﻿</span></span><span data-text-span-id="135b6f51-f680-4c98-9afc-93f6eead0774-1" class="text-content text-span"><span>﻿
﻿</span></span><span data-text-span-id="135b6f51-f680-4c98-9afc-93f6eead0774-2" class="text-content text-span"><span>﻿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor﻿</span></span>
                    </div>
                </div>
            </div>
            <div data-id="e4e4ac92-2983-4703-bbf0-503f6cd55297" data-type="group">
                <svg fill="none" viewBox="0 0 302 65" preserveAspectRatio="none" data-id="ff7f9184-d229-4211-9154-80e658552cfa" data-type="svg">
                    <rect x="0.5" y="0.5" rx="4.5" ry="4.5" stroke="#d6d6d6ff" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" stroke-miterlimit="10" width="301" height="64" />
                </svg>
                <svg fill="none" viewBox="0 0 45 45" preserveAspectRatio="none" data-id="72d8f390-54fc-41dc-b1c2-56508bf0bfca" data-type="svg">
                    <circle width="45" height="45" cx="22.5" cy="22.5" r="22.5" fill="#ccccccff" fill-opacity="1" />
                </svg>
                <div data-id="adc05a86-4d44-4fcf-93ee-fea87beaa114" data-type="text">
                    <div data-text-paragraph-id="adc05a86-4d44-4fcf-93ee-fea87beaa114-0" class="text-content text-paragraph"><span data-text-span-id="adc05a86-4d44-4fcf-93ee-fea87beaa114-0" class="text-content text-span"><span>﻿SASA SOCIAL﻿</span></span><span data-text-span-id="adc05a86-4d44-4fcf-93ee-fea87beaa114-1" class="text-content text-span"><span>﻿
﻿</span></span><span data-text-span-id="adc05a86-4d44-4fcf-93ee-fea87beaa114-2" class="text-content text-span"><span>﻿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor﻿</span></span>
                    </div>
                </div>
            </div>
            <svg fill="none" viewBox="0 0 16 16" preserveAspectRatio="xMidYMid slice" data-id="49f0ba87-c355-402c-aef2-1c890e703c92" data-type="image">
                <defs/>
                <image x="0" y="0" width="16" height="16" xlink:href="../../assets/images/66731d571ce72bb14d8cd722ce38a6ba.png" preserveAspectRatio="xMidYMid slice" />
            </svg>
        </div>
    </div>

 PAGINA EMPRESA FINAL -->

 <!-- PAGINA EVENTO MOCKUP -->
 <div class="card scrolling hidden" data-id="d7130849-99d5-4f4f-b876-7f8bc78ef16c" data-type="card">
<!-- PAGINA EVENTO MOCKUP -->
    
 <!--PAGINA EVENTO COMIENZO 
    <div class="card scrolling hidden" data-id="d7130849-99d5-4f4f-b876-7f8bc78ef16c" data-type="card">
        <div class="wrapper">
            <svg fill="none" viewBox="0 0 375 212" preserveAspectRatio="xMidYMid slice" data-id="9dff98e3-fd48-48c4-8123-8c66eedeef5a" data-type="image">
                <defs/>
                <image x="0" y="0" width="375" height="212" xlink:href="../../assets/images/ee701954e9e30843a572431c21270748.jpg" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <svg fill="none" viewBox="0 0 375 36" preserveAspectRatio="none" data-id="A763D189-0ED7-426A-88AF-23ABFC34868D" data-type="svg">
                <rect width="375" height="36" x="0" y="0" fill="#404040ff" fill-opacity="1" />
            </svg>
            <div data-id="83263073-B4D3-4FB2-B509-4587942F80AA" data-type="text">
                <div data-text-paragraph-id="83263073-B4D3-4FB2-B509-4587942F80AA-0" class="text-content text-paragraph"><span data-text-span-id="83263073-B4D3-4FB2-B509-4587942F80AA-0" class="text-content text-span"><span>﻿Evento de Boda﻿</span></span>
                </div>
            </div>
            <div data-id="866f19e5-cd4f-4d1d-82fd-b3b661703af3" data-type="text">
                <div data-text-paragraph-id="866f19e5-cd4f-4d1d-82fd-b3b661703af3-0" class="text-content text-paragraph"><span data-text-span-id="866f19e5-cd4f-4d1d-82fd-b3b661703af3-0" class="text-content text-span"><span>﻿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua﻿</span></span>
                </div>
            </div>
            <svg fill="none" viewBox="0 0 46 48" preserveAspectRatio="xMidYMid slice" data-id="1ad85705-5594-4c81-8c98-d5c5c861e588" data-type="image">
                <defs/>
                <image x="0" y="0" width="46" height="48" xlink:href="../../assets/images/7e967f22c9701f07f47e344b93a2107c.png" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <div data-id="06eef167-959f-4eda-a519-67dca5c06cb8" data-type="text">
                <div data-text-paragraph-id="06eef167-959f-4eda-a519-67dca5c06cb8-0" class="text-content text-paragraph"><span data-text-span-id="06eef167-959f-4eda-a519-67dca5c06cb8-0" class="text-content text-span"><span>﻿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl a lectus scelerisque sodales. Vivamus id nisi ante. Curabitur fermentum nulla eu magna eleifend tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus elementum, sem ac dictum placerat, metus arcu viverra metus, nec rutrum nisi est in ipsum. Pellentesque ac lacinia arcu, quis euismod neque. Suspendisse vitae elit commodo, vehicula metus quis, porta arcu. Mauris ultricies tellus sit amet sapien suscipit, ac commodo nisl gravida. Fusce eget aliquet ante. Aenean ac odio scelerisque, varius elit quis, viverra sapien. Cras facilisis et velit sed tincidunt. Nunc metus ante, consectetur non maximus quis, tincidunt eu neque. Duis sagittis sapien ac posuere ullamcorper. Sed quis tempor orci.﻿</span></span>
                </div>
            </div>
            <div data-id="c07e9060-6fb4-4cd6-b485-1894f98e0c8f" data-type="text">
                <div data-text-paragraph-id="c07e9060-6fb4-4cd6-b485-1894f98e0c8f-0" class="text-content text-paragraph"><span data-text-span-id="c07e9060-6fb4-4cd6-b485-1894f98e0c8f-0" class="text-content text-span"><span>﻿LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. MAURIS SED NISL A LECTU﻿</span></span>
                </div>
            </div>
            <svg fill="none" viewBox="0 0 378 212" preserveAspectRatio="xMidYMid slice" data-id="6c437825-b5f6-4f1e-a688-d8bd26c8561b" data-type="image">
                <defs/>
                <image x="0" y="0" width="378" height="212" xlink:href="../../assets/images/a4d5662f8a95c8ec61e900249ab22535.jpg" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <svg fill="none" viewBox="0 0 292 37" preserveAspectRatio="none" data-id="7D60A956-A365-471C-A5CF-6910A4E60136" data-type="svg">
                <rect width="292" height="37" x="0" y="0" rx="5" ry="5" fill="#3d3d3dff" fill-opacity="1" />
            </svg>
            <div data-id="1e9bd735-dbaa-4879-944a-7cfd5250cb16" data-type="text">
                <div data-text-paragraph-id="1e9bd735-dbaa-4879-944a-7cfd5250cb16-0" class="text-content text-paragraph"><span data-text-span-id="1e9bd735-dbaa-4879-944a-7cfd5250cb16-0" class="text-content text-span"><span>﻿18 DIAS 13:59:10﻿</span></span>
                </div>
            </div>
            <svg fill="none" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid slice" data-id="7eb3c7b0-ac01-43e7-93bf-2eaa359151ce" data-type="image">
                <defs/>
                <image x="0" y="0" width="24" height="24" xlink:href="../../assets/images/2c78d0906bd95ceb04e9d1c0c0a53c36.png" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <svg fill="none" viewBox="0 0 15 15" preserveAspectRatio="xMidYMid slice" data-id="742b496c-efcd-4d56-a332-0606a889525e" data-type="image">
                <defs/>
                <image x="0" y="0" width="15" height="15" xlink:href="../../assets/images/c016e6d972f5390619d276622e8fecd9.png" preserveAspectRatio="xMidYMid slice" />
            </svg>
        </div>
    </div>
</div>

PAGINA EVENTO FINAL -->


<div id="low-power-mode-notification" style="display: none">
    <div id="low-power-mode-inner">
        <div id="low-power-mode-text">
            Autoplay video not supported. Your phone may be in "Low Power Mode" or another service is blocking this feature. Please attempt to disable "Low Power Mode" and refresh the experience.
        </div>
        <hr />
        <div id="low-power-mode-action-buttons">
            <div id="power-saving-proceed-button" class="btn" style="border-right: 1px solid #999999;">Proceed</div>
            <a id="power-saving-disable-button" class="btn" href="https://support.apple.com/en-us/HT205234" target="_blank">Disable</a>
        </div>
    </div>
</div>
<div id="unsupported-orientation">
    <div>
        <svg id="rotate-icon" width="100px" height="84px" viewBox="0 0 100 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="rotate-tablet-icon" transform="translate(0.067004, -0.706890)">
                    <g id="Device-Icon---Tablet-" opacity="0.5" transform="translate(37.704420, 56.761034) rotate(-90.000000) translate(-37.704420, -56.761034) translate(10.204420, 19.761034)" fill="#FFFFFF">
                        <path d="M1.58936906,-5.68434189e-14 L52.6729083,-5.70654635e-14 C53.5013354,-6.08965985e-14 54.1729083,0.671572875 54.1729083,1.5 L54.1729083,71.899089 C54.1729083,72.7275161 53.5013354,73.399089 52.6729083,73.399089 L1.58936906,73.399089 C0.760941931,73.399089 0.0893690554,72.7275161 0.0893690554,71.899089 L0.0893690554,1.5 C0.0893690554,0.671572875 0.760941931,-5.66912393e-14 1.58936906,-5.68434189e-14 Z M2.79354528,6.29729154 L2.79354528,67.1026412 L51.4687321,67.1026412 L51.4687321,6.29729154 L2.79354528,6.29729154 Z" id="Tablet"></path>
                    </g>
                    <rect id="Rectangle" fill="#44484B" fill-rule="nonzero" opacity="0.7" x="46.7797888" y="6.47783861" width="50.800255" height="62.0897639"></rect>
                    <g id="Device-Icon---Tablet-" transform="translate(44.897524, 0.782282)" fill="#FFFFFF">
                        <path d="M1.58936906,-5.68434189e-14 L52.6729083,-5.70654635e-14 C53.5013354,-6.08965985e-14 54.1729083,0.671572875 54.1729083,1.5 L54.1729083,71.899089 C54.1729083,72.7275161 53.5013354,73.399089 52.6729083,73.399089 L1.58936906,73.399089 C0.760941931,73.399089 0.0893690554,72.7275161 0.0893690554,71.899089 L0.0893690554,1.5 C0.0893690554,0.671572875 0.760941931,-5.66912393e-14 1.58936906,-5.68434189e-14 Z M2.79354528,6.29729154 L2.79354528,67.1026412 L51.4687321,67.1026412 L51.4687321,6.29729154 L2.79354528,6.29729154 Z" id="Tablet"></path>
                    </g>
                    <g id="arrow" transform="translate(15.607255, 1.440196)">
                        <polyline fill="#FFFFFF" points="14.6214495 0.408122621 22.5338315 6.10839365 14.6214495 11.8086647"></polyline>
                        <path d="M20.2312459,6.06813569 C16.9961534,6.06813569 16.6868514,6.06813569 15.4231316,6.06813569 C7.36368121,6.06813569 0.830205737,12.6016112 0.830205737,20.6610616" id="Oval" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="square"></path>
                    </g>
                </g>
            </g>
        </svg>
        <br /> Best experienced in portrait.
    </div>
</div>