#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}


/*FAMOUS*/

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden
}

body,
html {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: #353735
}

body {
  -webkit-tap-highlight-color: transparent;
  /* font-family: Helvetica Neue, Helvetica, sans-serif */
}

#famous-application {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  perspective: 600px;
  overflow: hidden
}

.hidden {
  visibility: hidden
}

.hidden,
.hidden-template {
  opacity: 0;
  pointer-events: none
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden
}

.video-container:first-child {
  z-index: 0
}

.video-container>video {
  position: relative;
  width: 100%;
  height: 100%
}

.video-container>video.cover {
  object-fit: cover
}

.video-container>video.contain {
  object-fit: contain
}

.video-container>video.fill {
  object-fit: fill
}

.video-container>video.center-top {
  object-position: center top
}

.video-container>video.center-center {
  object-position: center center
}

.video-container>video.center-bottom {
  object-position: center bottom
}

.video-container-vol {
  display: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  z-index: 10;
  width: 39px;
  height: 35px;
  right: 0;
  bottom: 0;
  opacity: .7;
  margin: 0;
  padding: 0;
  cursor: pointer
}

.video-container-vol svg {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 19px;
  height: 15px
}

.video-container-vol:active {
  opacity: .85!important
}

.progress {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  background: #d9d9d9;
  border-radius: 5px;
  opacity: .7
}

#low-power-mode-notification.display {
  display: flex!important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: transform .75s
}

#low-power-mode-notification.display.show {
  transform: scale(1)
}

#low-power-mode-notification hr {
  margin: 5px 0 0;
  color: #999
}

#low-power-mode-inner {
  flex: 1;
  margin: 150px 50px;
  background: #e8e8e8;
  border-radius: 10px;
  text-align: center
}

#low-power-mode-text {
  padding: 25px
}

#low-power-mode-action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #007aff;
  height: 50px
}

#low-power-mode-action-buttons .btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%
}

#low-power-mode-action-buttons a,
#low-power-mode-action-buttons a:hover,
#low-power-mode-action-buttons a:visited {
  color: #007aff;
  text-decoration: none
}

#unsupported-orientation {
  display: none
}

#unsupported-orientation.show,
#unsupported-orientation>div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-weight: 700;
  z-index: 100
}

#unsupported-orientation #rotate-icon {
  height: 15vh;
  width: 15vh;
  margin-bottom: 15px
}

.card[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"],
.card[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"],
.card[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"],
.card[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"],
.card[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"],
.card[data-id="4875BC62-1759-4F94-87F8-249946AC7555"],
.card[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465],
.card[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810],
.card[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c],
.card[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform-style: preserve-3d;
  overflow: hidden
}

.card.scrolling[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"],
.card.scrolling[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"],
.card.scrolling[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"],
.card.scrolling[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"],
.card.scrolling[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"],
.card.scrolling[data-id="4875BC62-1759-4F94-87F8-249946AC7555"],
.card.scrolling[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465],
.card.scrolling[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810],
.card.scrolling[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c],
.card.scrolling[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9] {
  -webkit-overflow-scrolling: touch;
  justify-content: flex-start;
  overflow-y: scroll
}

.card[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper,
.card[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper,
.card[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper,
.card[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper,
.card[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper,
.card[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper,
.card[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper,
.card[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper,
.card[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper,
.card[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper {
  overflow: hidden;
  transform-style: preserve-3d
}

.card.hidden[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"],
.card.hidden[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"],
.card.hidden[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"],
.card.hidden[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"],
.card.hidden[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"],
.card.hidden[data-id="4875BC62-1759-4F94-87F8-249946AC7555"],
.card.hidden[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465],
.card.hidden[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810],
.card.hidden[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c],
.card.hidden[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9] {
  display: none
}

:root {
  --ih: 100vh
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"] {
  background-color: #fff
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper {
  position: relative;
  width: 100%;
  height: 100%
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id=D8C08B00-E465-412F-8BEB-BE791BBC8FB5] {
  position: absolute;
  width: 272.8vw;
  height: calc(var(--ihpx)*1.0225);
  top: calc(var(--ihpx)*0.4888 - var(--ihpx)*1.0225/2);
  left: -119.2vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  mix-blend-mode: multiply;
  transform: translateZ(0)
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="21EACC7C-6912-4E47-B0AB-08DF8B6CC27C"] {
  position: absolute;
  width: 253.61vw;
  height: calc(var(--ihpx)*0.9925);
  top: calc(var(--ihpx)*0.3433 - var(--ihpx)*0.9925/2);
  left: -50.935vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  visibility: inherit;
  mix-blend-mode: multiply;
  transform: translateZ(0)
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D"] {
  position: absolute;
  width: 81.07vw;
  height: 41.87vw;
  top: calc(var(--ihpx)*0.65 - 20.935vw);
  left: 5.865vw;
  right: auto;
  bottom: auto;
  opacity: 1;
  transform: translateZ(0)
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D"]>[data-id="180A8DF0-11A9-4DB3-80B3-8F61C85DC1B1"] {
  position: absolute;
  width: 81.07vw;
  height: 12.8vw;
  top: 20.00vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D"]>[data-id="180A8DF0-11A9-4DB3-80B3-8F61C85DC1B1"] [data-text-paragraph-id="180A8DF0-11A9-4DB3-80B3-8F61C85DC1B1-0"] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 5.33vw
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D"]>[data-id="180A8DF0-11A9-4DB3-80B3-8F61C85DC1B1"] [data-text-span-id="180A8DF0-11A9-4DB3-80B3-8F61C85DC1B1-0"] {
  color: #545454;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 3.73vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D"]>[data-id="22DF118B-294F-4627-A3E0-FC0F5E34055B"] {
  position: absolute;
  width: 32.27vw;
  height: 5.07vw;
  top: 22.93vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: .7;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D"]>[data-id="22DF118B-294F-4627-A3E0-FC0F5E34055B"] [data-text-paragraph-id="22DF118B-294F-4627-A3E0-FC0F5E34055B-0"] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 5.6vw
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D"]>[data-id="22DF118B-294F-4627-A3E0-FC0F5E34055B"] [data-text-span-id="22DF118B-294F-4627-A3E0-FC0F5E34055B-0"] {
  color: #545454;
  /* font-family: PlayfairDisplay-Italic; */
  font-size: 3.73vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D"]>[data-id="78D6DDB9-0A89-4812-B558-DC4F8B5C8617"] {
  position: absolute;
  width: 44.27vw;
  height: 5.07vw;
  top: 12.8vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: .7;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D"]>[data-id="78D6DDB9-0A89-4812-B558-DC4F8B5C8617"] [data-text-paragraph-id="78D6DDB9-0A89-4812-B558-DC4F8B5C8617-0"] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 5.6vw
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D"]>[data-id="78D6DDB9-0A89-4812-B558-DC4F8B5C8617"] [data-text-span-id="78D6DDB9-0A89-4812-B558-DC4F8B5C8617-0"] {
  color: #535353;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 3.73vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D"]>[data-id="97A529DC-5C64-40AC-AE13-13698678ABAB"] {
  position: absolute;
  width: 71.47vw;
  height: 12.8vw;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D"]>[data-id="97A529DC-5C64-40AC-AE13-13698678ABAB"] [data-text-paragraph-id="97A529DC-5C64-40AC-AE13-13698678ABAB-0"] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 12.4vm
}

[data-id="8A730960-47ED-4804-9598-E351DDBE3E6B"]>.wrapper>[data-id="99ADF95D-8239-4A5A-8D66-29CDAD95AB6D"]>[data-id="97A529DC-5C64-40AC-AE13-13698678ABAB"] [data-text-span-id="97A529DC-5C64-40AC-AE13-13698678ABAB-0"] {
  color: #545454;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 8vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"] {
  background-color: #fff
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper {
  position: relative;
  width: 100%;
  height: 100%
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id=F0402241-92B6-4842-97C3-9EC5FD9FFA5C] {
  position: absolute;
  width: 178.31vw;
  height: calc(var(--ihpx)*1.5037);
  top: calc(var(--ihpx)*0.56 - var(--ihpx)*1.5037/2);
  left: -35.285vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="00F8606D-FE24-4A5F-A9DB-5F3DC85FE2CE"] {
  position: absolute;
  width: 178.13vw;
  height: calc(var(--ihpx)*1.2521);
  top: calc(var(--ihpx)*0.3739 - var(--ihpx)*1.2521/2);
  left: -35.195vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  mix-blend-mode: screen;
  transform: translateZ(0)
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="3232B0D6-C712-428E-9E86-CC1F247693B0"] {
  position: absolute;
  width: 81.07vw;
  height: 47.73vw;
  top: calc(var(--ihpx)*0.2196 - 23.865vw);
  left: 10.135vw;
  right: auto;
  bottom: auto;
  opacity: 1;
  transform: translateZ(0)
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="3232B0D6-C712-428E-9E86-CC1F247693B0"]>[data-id="92B8D1BB-ABF6-4934-A5A5-DD7C86F569CA"] {
  position: absolute;
  width: 81.07vw;
  height: 18.67vw;
  top: 29.07vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="3232B0D6-C712-428E-9E86-CC1F247693B0"]>[data-id="92B8D1BB-ABF6-4934-A5A5-DD7C86F569CA"] [data-text-paragraph-id="92B8D1BB-ABF6-4934-A5A5-DD7C86F569CA-0"] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 5.33vw
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="3232B0D6-C712-428E-9E86-CC1F247693B0"]>[data-id="92B8D1BB-ABF6-4934-A5A5-DD7C86F569CA"] [data-text-span-id="92B8D1BB-ABF6-4934-A5A5-DD7C86F569CA-0"] {
  color: #545454;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 3.73vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="3232B0D6-C712-428E-9E86-CC1F247693B0"]>[data-id=CAF8920B-94C8-4D2C-977E-FB4B60333D8C] {
  position: absolute;
  width: 32.27vw;
  height: 5.07vw;
  top: 22.93vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: .7;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="3232B0D6-C712-428E-9E86-CC1F247693B0"]>[data-id=CAF8920B-94C8-4D2C-977E-FB4B60333D8C] [data-text-paragraph-id=CAF8920B-94C8-4D2C-977E-FB4B60333D8C-0] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 5.6vw
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="3232B0D6-C712-428E-9E86-CC1F247693B0"]>[data-id=CAF8920B-94C8-4D2C-977E-FB4B60333D8C] [data-text-span-id=CAF8920B-94C8-4D2C-977E-FB4B60333D8C-0] {
  color: #545454;
  /* font-family: PlayfairDisplay-Italic; */
  font-size: 3.73vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="3232B0D6-C712-428E-9E86-CC1F247693B0"]>[data-id=D687001B-C47C-4C6E-9AD0-30A05B91B664] {
  position: absolute;
  width: 44.27vw;
  height: 5.07vw;
  top: 12.8vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: .7;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="3232B0D6-C712-428E-9E86-CC1F247693B0"]>[data-id=D687001B-C47C-4C6E-9AD0-30A05B91B664] [data-text-paragraph-id=D687001B-C47C-4C6E-9AD0-30A05B91B664-0] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 5.6vw
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="3232B0D6-C712-428E-9E86-CC1F247693B0"]>[data-id=D687001B-C47C-4C6E-9AD0-30A05B91B664] [data-text-span-id=D687001B-C47C-4C6E-9AD0-30A05B91B664-0] {
  color: #545454;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 3.73vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="3232B0D6-C712-428E-9E86-CC1F247693B0"]>[data-id=E755211E-80A8-4189-990D-8642B47AC26F] {
  position: absolute;
  width: 69.33vw;
  height: 12.8vw;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="3232B0D6-C712-428E-9E86-CC1F247693B0"]>[data-id=E755211E-80A8-4189-990D-8642B47AC26F] [data-text-paragraph-id=E755211E-80A8-4189-990D-8642B47AC26F-0] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 14.4vw
}

[data-id="4875BC62-1759-4F94-87F8-249946AC7555"]>.wrapper>[data-id="3232B0D6-C712-428E-9E86-CC1F247693B0"]>[data-id=E755211E-80A8-4189-990D-8642B47AC26F] [data-text-span-id=E755211E-80A8-4189-990D-8642B47AC26F-0] {
  color: #545454;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 8vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"] {
  background-color: #fff
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper {
  position: relative;
  width: 100%;
  height: 100%
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="1547FC76-E0E7-478F-9F3A-00D7DF95C911"] {
  position: absolute;
  width: 363.73vw;
  height: calc(var(--ihpx)*1.2414);
  top: calc(var(--ihpx)*0.5082 - var(--ihpx)*1.2414/2);
  left: -123.995vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="4ED541B6-4A7F-465F-BE69-5C783B28DBD0"] {
  position: absolute;
  width: 283.4vw;
  height: calc(var(--ihpx)*1.018);
  top: calc(var(--ihpx)*0.5 - var(--ihpx)*1.018/2);
  left: -91.7vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  mix-blend-mode: overlay;
  transform: translateZ(0)
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107"] {
  position: absolute;
  width: 80vw;
  height: 41.33vw;
  top: calc(var(--ihpx)*0.6 - 20.665vw);
  left: 10.135vw;
  right: auto;
  bottom: auto;
  opacity: 1;
  transform: translateZ(0)
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107"]>[data-id=CB626D74-4FCF-4586-96E9-090DD7F67E33] {
  position: absolute;
  width: 80vw;
  height: 12.8vw;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107"]>[data-id=CB626D74-4FCF-4586-96E9-090DD7F67E33] [data-text-paragraph-id=CB626D74-4FCF-4586-96E9-090DD7F67E33-0] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 14.4vw
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107"]>[data-id=CB626D74-4FCF-4586-96E9-090DD7F67E33] [data-text-span-id=CB626D74-4FCF-4586-96E9-090DD7F67E33-0] {
  color: #fff;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 9.6vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107"]>[data-id="37554E6A-A620-4C46-BFA5-5E65E1F8AB75"] {
  position: absolute;
  width: 44.27vw;
  height: 5.07vw;
  top: 12.8vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: .7;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107"]>[data-id="37554E6A-A620-4C46-BFA5-5E65E1F8AB75"] [data-text-paragraph-id="37554E6A-A620-4C46-BFA5-5E65E1F8AB75-0"] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 5.6vw
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107"]>[data-id="37554E6A-A620-4C46-BFA5-5E65E1F8AB75"] [data-text-span-id="37554E6A-A620-4C46-BFA5-5E65E1F8AB75-0"] {
  color: #fff;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 3.73vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107"]>[data-id=C1F648B8-EE63-4FC6-9D55-CB4C423B3DD5] {
  position: absolute;
  /* width: 32.27vw; */ 
  height: 5.07vw;
  top: 22.93vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: .7;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107"]>[data-id=C1F648B8-EE63-4FC6-9D55-CB4C423B3DD5] [data-text-paragraph-id=C1F648B8-EE63-4FC6-9D55-CB4C423B3DD5-0] {
  /* white-space: pre-wrap; */
  text-align: left;
  line-height: 5.6vw
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107"]>[data-id=C1F648B8-EE63-4FC6-9D55-CB4C423B3DD5] [data-text-span-id=C1F648B8-EE63-4FC6-9D55-CB4C423B3DD5-0] {
  color: #fff;
  /* font-family: PlayfairDisplay-Italic; */
  font-size: 3.73vw;
  /* word-wrap: break-word; */ 
  letter-spacing: 0
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107"]>[data-id="03B98670-B85C-443B-8552-83F32958DA7A"] {
  position: absolute;
  width: 73.33vw;
  height: 12.8vw;
  top: 28.53vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107"]>[data-id="03B98670-B85C-443B-8552-83F32958DA7A"] [data-text-paragraph-id="03B98670-B85C-443B-8552-83F32958DA7A-0"] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 5.33vw
}

[data-id="78AF3047-7E04-4101-98E0-A71DDC18E506"]>.wrapper>[data-id="804DE8A9-8968-4990-9FBD-D18EE6AFC107"]>[data-id="03B98670-B85C-443B-8552-83F32958DA7A"] [data-text-span-id="03B98670-B85C-443B-8552-83F32958DA7A-0"] {
  color: #fff;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 4vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9] {
  background-color: #fff
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper {
  position: relative;
  width: 100%;
  height: 100%
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id=BE2C2E72-8EE7-429D-A307-57FE1CB76642] {
  position: absolute;
  width: 118.71vw;
  height: calc(var(--ihpx)*1);
  top: 0;
  left: -9.355vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id=c05eeab9-f1bc-4698-9ee4-83962853879c] {
  position: absolute;
  width: 156.53vw;
  height: calc(var(--ihpx)*1.2504);
  top: calc(var(--ihpx)*0.5217 - var(--ihpx)*1.2504/2);
  left: -34.665vw;
  right: auto;
  bottom: auto;
  filter: unset;
  mix-blend-mode: overlay;
  transform: translateZ(0)
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id="084A0385-8768-4CF2-AE02-703268C01C43"] {
  position: absolute;
  width: 74.13vw;
  height: 41.33vw;
  top: calc(var(--ihpx)*0.2016 - 20.665vw);
  left: 10.135vw;
  right: auto;
  bottom: auto;
  opacity: 1;
  transform: translateZ(0)
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id="084A0385-8768-4CF2-AE02-703268C01C43"]>[data-id="06BDAA54-F03F-48D4-9302-CAD8344B07F7"] {
  position: absolute;
  width: 74.13vw;
  height: 12.8vw;
  top: 28.53vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id="084A0385-8768-4CF2-AE02-703268C01C43"]>[data-id="06BDAA54-F03F-48D4-9302-CAD8344B07F7"] [data-text-paragraph-id="06BDAA54-F03F-48D4-9302-CAD8344B07F7-0"] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 5.33vw
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id="084A0385-8768-4CF2-AE02-703268C01C43"]>[data-id="06BDAA54-F03F-48D4-9302-CAD8344B07F7"] [data-text-span-id="06BDAA54-F03F-48D4-9302-CAD8344B07F7-0"] {
  color: #545454;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 4vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id="084A0385-8768-4CF2-AE02-703268C01C43"]>[data-id="20A5E2AA-26F3-4F56-B13E-C1A50D374D78"] {
  position: absolute;
  width: 32.27vw;
  height: 5.07vw;
  top: 22.93vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: .7;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id="084A0385-8768-4CF2-AE02-703268C01C43"]>[data-id="20A5E2AA-26F3-4F56-B13E-C1A50D374D78"] [data-text-paragraph-id="20A5E2AA-26F3-4F56-B13E-C1A50D374D78-0"] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 5.6vw
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id="084A0385-8768-4CF2-AE02-703268C01C43"]>[data-id="20A5E2AA-26F3-4F56-B13E-C1A50D374D78"] [data-text-span-id="20A5E2AA-26F3-4F56-B13E-C1A50D374D78-0"] {
  color: #545454;
  font-family: PlayfairDisplay-Italic;
  font-size: 3.73vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id="084A0385-8768-4CF2-AE02-703268C01C43"]>[data-id="66579892-F7FB-4387-9638-F25380FD9647"] {
  position: absolute;
  width: 44.27vw;
  height: 5.07vw;
  top: 12.8vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: .7;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id="084A0385-8768-4CF2-AE02-703268C01C43"]>[data-id="66579892-F7FB-4387-9638-F25380FD9647"] [data-text-paragraph-id="66579892-F7FB-4387-9638-F25380FD9647-0"] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 5.6vw
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id="084A0385-8768-4CF2-AE02-703268C01C43"]>[data-id="66579892-F7FB-4387-9638-F25380FD9647"] [data-text-span-id="66579892-F7FB-4387-9638-F25380FD9647-0"] {
  color: #545454;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 3.73vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id="084A0385-8768-4CF2-AE02-703268C01C43"]>[data-id="6C681A76-99BA-45B9-AD64-563FAA623013"] {
  position: absolute;
  width: 66.67vw;
  height: 12.8vw;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id="084A0385-8768-4CF2-AE02-703268C01C43"]>[data-id="6C681A76-99BA-45B9-AD64-563FAA623013"] [data-text-paragraph-id="6C681A76-99BA-45B9-AD64-563FAA623013-0"] {
  white-space: pre-wrap;
  text-align: left;
  line-height: 14.4vw
}

[data-id=E4D65595-1DA8-41B2-B0D7-B2E3586404A9]>.wrapper>[data-id="084A0385-8768-4CF2-AE02-703268C01C43"]>[data-id="6C681A76-99BA-45B9-AD64-563FAA623013"] [data-text-span-id="6C681A76-99BA-45B9-AD64-563FAA623013-0"] {
  color: #545454;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 9.6vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"] {
  background-color: #fff
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper {
  position: relative;
  width: 100%;
  height: 100%
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=C0666904-6E33-46CC-AC18-4F2D73EDD541] {
  position: absolute;
  width: 100vw;
  height: calc(var(--ihpx)*1);
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=e2ec743b-44f6-4ef4-ab5e-9afe78246b94] {
  position: absolute;
  width: 65.87vw;
  height: 60.53vw;
  top: calc(var(--ihpx)*0.2901 - 30.265vw);
  left: 17.065vw;
  right: auto;
  bottom: auto;
  opacity: 1;
  transform: translateZ(0)
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=e2ec743b-44f6-4ef4-ab5e-9afe78246b94]>[data-id="9c21ac66-77f1-4688-ab7c-7cf48e2fc779"] {
  position: absolute;
  width: 65.87vw;
  height: 18.13vw;
  top: 39.73vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=e2ec743b-44f6-4ef4-ab5e-9afe78246b94]>[data-id="9c21ac66-77f1-4688-ab7c-7cf48e2fc779"] [data-text-paragraph-id="9c21ac66-77f1-4688-ab7c-7cf48e2fc779-0"] {
  white-space: pre-wrap;
  text-align: center;
  line-height: 15.47vw
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=e2ec743b-44f6-4ef4-ab5e-9afe78246b94]>[data-id="9c21ac66-77f1-4688-ab7c-7cf48e2fc779"] [data-text-span-id="9c21ac66-77f1-4688-ab7c-7cf48e2fc779-0"] {
  color: #fff;
  font-family: Montserrat-Regular;
  font-size: 10.4vw;
  word-wrap: break-word;
  letter-spacing: .11vw
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=e2ec743b-44f6-4ef4-ab5e-9afe78246b94]>[data-id=efcc2c92-aa2b-4924-900f-fe32b99fe630] {
  position: absolute;
  width: 40vw;
  height: 40vw;
  top: calc(var(--ihpx)*0.1124 - 20vw);
  left: 13.33vw;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=e2ec743b-44f6-4ef4-ab5e-9afe78246b94]>[data-id="44231c55-0c80-4b54-9a0d-a3f98d54b853"] {
  position: absolute;
  width: 56.53vw;
  height: 5.07vw;
  top: 55.47vw;
  left: 4.53vw;
  right: auto;
  bottom: auto;
  opacity: .7;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=e2ec743b-44f6-4ef4-ab5e-9afe78246b94]>[data-id="44231c55-0c80-4b54-9a0d-a3f98d54b853"] [data-text-paragraph-id="44231c55-0c80-4b54-9a0d-a3f98d54b853-0"] {
  white-space: pre-wrap;
  text-align: center;
  line-height: 5.07vw
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=e2ec743b-44f6-4ef4-ab5e-9afe78246b94]>[data-id="44231c55-0c80-4b54-9a0d-a3f98d54b853"] [data-text-span-id="44231c55-0c80-4b54-9a0d-a3f98d54b853-0"] {
  color: #fff;
  font-family: Montserrat-Medium;
  font-size: 3.47vw;
  word-wrap: break-word;
  letter-spacing: .46vw
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=F93A6F64-E8B8-4E31-B29F-463B573DDEEC] {
  position: absolute;
  width: 53.33vw;
  height: 21.6vw;
  top: calc(var(--ihpx)*0.7354 - 10.8vw);
  left: 23.205vw;
  right: auto;
  bottom: auto;
  opacity: 1;
  transform: translateZ(0)
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=F93A6F64-E8B8-4E31-B29F-463B573DDEEC]>[data-id="44BF805F-10F4-43AD-A72A-6E966CAB765F"] {
  position: absolute;
  width: 45.87vw;
  height: 4.27vw;
  top: 17.33vw;
  left: 3.47vw;
  right: auto;
  bottom: auto;
  opacity: .7;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=F93A6F64-E8B8-4E31-B29F-463B573DDEEC]>[data-id="44BF805F-10F4-43AD-A72A-6E966CAB765F"] [data-text-paragraph-id="44BF805F-10F4-43AD-A72A-6E966CAB765F-0"] {
  white-space: pre-wrap;
  text-align: center;
  line-height: 5.07vw
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=F93A6F64-E8B8-4E31-B29F-463B573DDEEC]>[data-id="44BF805F-10F4-43AD-A72A-6E966CAB765F"] [data-text-span-id="44BF805F-10F4-43AD-A72A-6E966CAB765F-0"] {
  color: #fff;
  font-family: Montserrat-Medium;
  font-size: 3.47vw;
  word-wrap: break-word;
  letter-spacing: .46vw
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=F93A6F64-E8B8-4E31-B29F-463B573DDEEC]>[data-id="6C9FFB58-30C4-4D7F-AE90-CE8E9C238305"] {
  position: absolute;
  width: 13.07vw;
  height: 13.07vw;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: 1;
  transform: translateZ(0)
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=F93A6F64-E8B8-4E31-B29F-463B573DDEEC]>[data-id="6C9FFB58-30C4-4D7F-AE90-CE8E9C238305"]>[data-id=B3CA3D2A-923F-43C2-B134-14D713016B49] {
  position: absolute;
  width: 13.07vw;
  height: 13.07vw;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: .2021716889880952;
  mix-blend-mode: normal;
  transform: translateZ(0);
  overflow: visible
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=F93A6F64-E8B8-4E31-B29F-463B573DDEEC]>[data-id="6C9FFB58-30C4-4D7F-AE90-CE8E9C238305"]>[data-id="936CAE08-3BDC-451B-81CB-BA99B478549D"] {
  position: absolute;
  width: 5.87vw;
  height: 4.8vw;
  top: 4.27vw;
  left: 3.73vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0);
  overflow: visible
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=F93A6F64-E8B8-4E31-B29F-463B573DDEEC]>[data-id=A37778BE-B939-4C94-A371-F29D96EBDCD3] {
  position: absolute;
  width: 13.07vw;
  height: 13.07vw;
  top: 0;
  left: 20vw;
  right: auto;
  bottom: auto;
  opacity: 1;
  transform: translateZ(0)
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=F93A6F64-E8B8-4E31-B29F-463B573DDEEC]>[data-id=A37778BE-B939-4C94-A371-F29D96EBDCD3]>[data-id=C5B4529C-0D62-4C75-8688-F1DBB637BC35] {
  position: absolute;
  width: 13.07vw;
  height: 13.07vw;
  top: 0;
  left: .13vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: .2;
  mix-blend-mode: normal;
  transform: translateZ(0);
  overflow: visible
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=F93A6F64-E8B8-4E31-B29F-463B573DDEEC]>[data-id=A37778BE-B939-4C94-A371-F29D96EBDCD3]>[data-id="9978C166-EE69-4E5E-977F-9122D54491CF"] {
  position: absolute;
  width: 6.13vw;
  height: 6.13vw;
  top: 3.2vw;
  left: 3.6vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0);
  overflow: visible
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=F93A6F64-E8B8-4E31-B29F-463B573DDEEC]>[data-id="67C72AA1-43DB-4183-B252-57C013EFFE4B"] {
  position: absolute;
  width: 13.07vw;
  height: 13.07vw;
  top: 0;
  left: 40.27vw;
  right: auto;
  bottom: auto;
  opacity: 1;
  transform: translateZ(0)
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=F93A6F64-E8B8-4E31-B29F-463B573DDEEC]>[data-id="67C72AA1-43DB-4183-B252-57C013EFFE4B"]>[data-id=F13A0E9F-4CCA-47E5-8F2C-A384AABC082D] {
  position: absolute;
  width: 13.07vw;
  height: 13.07vw;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: .2;
  mix-blend-mode: normal;
  transform: translateZ(0);
  overflow: visible
}

[data-id="2EA69AE2-03D2-48F6-B667-7CAE3D2C4100"]>.wrapper>[data-id=F93A6F64-E8B8-4E31-B29F-463B573DDEEC]>[data-id="67C72AA1-43DB-4183-B252-57C013EFFE4B"]>[data-id="05D28152-8045-464E-ADEC-628E1152FBF9"] {
  position: absolute;
  width: 4.8vw;
  height: 4.8vw;
  top: 3.73vw;
  left: 4.27vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0);
  overflow: visible
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"] {
  background-color: #fff
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper {
  position: relative;
  width: 100%;
  height: 100%
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id=DC62FF00-5089-49B9-BDE8-E1F384A0CF35] {
  position: absolute;
  width: 70.4vw;
  height: 21.2vw;
  top: calc(var(--ihpx)*0.5206 - 10.6vw);
  left: 14.8vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id=DC62FF00-5089-49B9-BDE8-E1F384A0CF35]>[data-id="728C2289-5670-487D-A98E-2D02F962F04F"] {
  position: absolute;
  width: 70.4vw;
  height: 13.87vw;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  transform: translateZ(0);
  overflow: visible
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id=DC62FF00-5089-49B9-BDE8-E1F384A0CF35]>[data-id="0C02D32A-F053-4445-AB40-73C861E1D879"] {
  position: absolute;
  width: 66.4vw;
  height: 6.4vw;
  top: 19.87vw;
  left: 2vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id=DC62FF00-5089-49B9-BDE8-E1F384A0CF35]>[data-id="0C02D32A-F053-4445-AB40-73C861E1D879"] [data-text-paragraph-id="0C02D32A-F053-4445-AB40-73C861E1D879-0"] {
  white-space: pre-wrap;
  text-align: center
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id=DC62FF00-5089-49B9-BDE8-E1F384A0CF35]>[data-id="0C02D32A-F053-4445-AB40-73C861E1D879"] [data-text-span-id="0C02D32A-F053-4445-AB40-73C861E1D879-0"] {
  color: #000;
  font-family: NunitoSans-Regular;
  font-size: 4.27vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id=DC62FF00-5089-49B9-BDE8-E1F384A0CF35]>[data-id="7B017DE4-2820-4819-8266-F347C361E1E7"] {
  position: absolute;
  width: 63.47vw;
  height: 6.4vw;
  top: 4.4vw;
  left: 3.87vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id=DC62FF00-5089-49B9-BDE8-E1F384A0CF35]>[data-id="7B017DE4-2820-4819-8266-F347C361E1E7"] [data-text-paragraph-id="7B017DE4-2820-4819-8266-F347C361E1E7-0"] {
  white-space: pre-wrap;
  text-align: center
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id=DC62FF00-5089-49B9-BDE8-E1F384A0CF35]>[data-id="7B017DE4-2820-4819-8266-F347C361E1E7"] [data-text-span-id="7B017DE4-2820-4819-8266-F347C361E1E7-0"] {
  color: #a9a9a9;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 3.2vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id=a7b885c4-e8c8-4e22-9e92-bd6a1ce73256] {
  position: absolute;
  width: 40vw;
  height: 30.13vw;
  top: calc(var(--ihpx)*0.2586 - 15.065vw);
  left: 29.87vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: .5;
  transform: translateZ(0)
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id="76907f0e-5af8-4593-9191-8286888c4268"] {
  position: absolute;
  width: 6.4vw;
  height: 6.4vw;
  top: calc(var(--ihpx)*0.069 - 3.2vw);
  left: 46.67vw;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id=BDAC0717-B745-48F6-AE12-CE9D66A5DB60] {
  position: absolute;
  width: 70.67vw;
  height: 19.2vw;
  top: calc(var(--ihpx)*0.8891 - 9.6vw);
  left: 15.195vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id=BDAC0717-B745-48F6-AE12-CE9D66A5DB60] [data-text-paragraph-id=BDAC0717-B745-48F6-AE12-CE9D66A5DB60-0] {
  white-space: pre-wrap;
  text-align: left
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id=BDAC0717-B745-48F6-AE12-CE9D66A5DB60] [data-text-span-id=BDAC0717-B745-48F6-AE12-CE9D66A5DB60-0] {
  color: #444;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 4.27vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="75b32d68-c1a3-40fe-a2f8-7d6435026c9c"]>.wrapper>[data-id=BDAC0717-B745-48F6-AE12-CE9D66A5DB60] [data-text-span-id=BDAC0717-B745-48F6-AE12-CE9D66A5DB60-1] {
  color: #444;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 3.2vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810] {
  background-color: #fff
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper {
  position: relative;
  width: 100%;
  height: 100%
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper>[data-id=cbeffed7-61c5-4d85-a2be-2f1a6687b212] {
  position: absolute;
  width: 34.13vw;
  height: 34.13vw;
  top: calc(var(--ihpx)*0.2354 - 17.065vw);
  left: 32.805vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: .51;
  transform: translateZ(0)
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper>[data-id=d41774fe-abb7-478f-a2ad-1254eae744d9] {
  position: absolute;
  width: 70.4vw;
  height: 21.07vw;
  top: calc(var(--ihpx)*0.5195 - 10.535vw);
  left: 14.67vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper>[data-id=d41774fe-abb7-478f-a2ad-1254eae744d9]>[data-id="4bd6e643-4783-4b3f-9be8-ab2d765aa262"] {
  position: absolute;
  width: 70.4vw;
  height: 13.87vw;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  transform: translateZ(0);
  overflow: visible
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper>[data-id=d41774fe-abb7-478f-a2ad-1254eae744d9]>[data-id=e334d4f3-07ec-4215-b5b5-610af3a5f6a4] {
  position: absolute;
  width: 66.4vw;
  height: 5.87vw;
  top: 19.87vw;
  left: 2vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper>[data-id=d41774fe-abb7-478f-a2ad-1254eae744d9]>[data-id=e334d4f3-07ec-4215-b5b5-610af3a5f6a4] [data-text-paragraph-id=e334d4f3-07ec-4215-b5b5-610af3a5f6a4-0] {
  white-space: pre-wrap;
  text-align: center
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper>[data-id=d41774fe-abb7-478f-a2ad-1254eae744d9]>[data-id=e334d4f3-07ec-4215-b5b5-610af3a5f6a4] [data-text-span-id=e334d4f3-07ec-4215-b5b5-610af3a5f6a4-0] {
  color: #000;
  font-family: NunitoSans-Regular;
  font-size: 4.27vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper>[data-id=d41774fe-abb7-478f-a2ad-1254eae744d9]>[data-id="2ad65a2d-fb97-4637-bab9-70b0196be206"] {
  position: absolute;
  width: 63.47vw;
  height: 6.4vw;
  top: 4.4vw;
  left: 3.87vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper>[data-id=d41774fe-abb7-478f-a2ad-1254eae744d9]>[data-id="2ad65a2d-fb97-4637-bab9-70b0196be206"] [data-text-paragraph-id="2ad65a2d-fb97-4637-bab9-70b0196be206-0"] {
  white-space: pre-wrap;
  text-align: center
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper>[data-id=d41774fe-abb7-478f-a2ad-1254eae744d9]>[data-id="2ad65a2d-fb97-4637-bab9-70b0196be206"] [data-text-span-id="2ad65a2d-fb97-4637-bab9-70b0196be206-0"] {
  color: #a9a9a9;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 3.2vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper>[data-id="763b47bd-222c-4a15-9648-51220ef32128"] {
  position: absolute;
  width: 70.67vw;
  height: 19.2vw;
  top: calc(var(--ihpx)*0.8891 - 9.6vw);
  left: 15.195vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper>[data-id="763b47bd-222c-4a15-9648-51220ef32128"] [data-text-paragraph-id="763b47bd-222c-4a15-9648-51220ef32128-0"] {
  white-space: pre-wrap;
  text-align: left
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper>[data-id="763b47bd-222c-4a15-9648-51220ef32128"] [data-text-span-id="763b47bd-222c-4a15-9648-51220ef32128-0"] {
  color: #444;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 4.27vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=b058e5cd-e6a5-42a8-880d-1cce50687810]>.wrapper>[data-id="763b47bd-222c-4a15-9648-51220ef32128"] [data-text-span-id="763b47bd-222c-4a15-9648-51220ef32128-1"] {
  color: #444;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 3.2vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465] {
  background-color: #323232
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper {
  position: relative;
  width: 100%;
  min-height: 203vw
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="3e1ec960-ca18-46ab-bbeb-04e734c86915"] {
  position: absolute;
  width: 54.67vw;
  height: 57.33vw;
  top: calc(var(--ihpx)*0.2376 - 28.665vw);
  left: 22.665vw;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="97e739c6-23bf-4b7d-88c9-a01f24457b8a"] {
  position: absolute;
  width: 70.67vw;
  height: 19.2vw;
  top: calc(var(--ihpx)*0.4783 - 9.6vw);
  left: 14.665vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="97e739c6-23bf-4b7d-88c9-a01f24457b8a"] [data-text-paragraph-id="97e739c6-23bf-4b7d-88c9-a01f24457b8a-0"] {
  white-space: pre-wrap;
  text-align: left
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="97e739c6-23bf-4b7d-88c9-a01f24457b8a"] [data-text-span-id="97e739c6-23bf-4b7d-88c9-a01f24457b8a-0"] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 5.33vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="97e739c6-23bf-4b7d-88c9-a01f24457b8a"] [data-text-span-id="97e739c6-23bf-4b7d-88c9-a01f24457b8a-1"] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 3.2vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"] {
  position: absolute;
  width: 70.13vw;
  height: 24.53vw;
  top: calc(var(--ihpx)*0.6147 - 12.265vw);
  left: 14.665vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id="6A7A0597-AFDF-4352-AFE6-D97A1CAD0476"] {
  position: absolute;
  width: 70.13vw;
  height: .27vw;
  top: calc(var(--ihpx)*0.0007 - .135vw);
  left: 0;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  transform: translateZ(0);
  overflow: visible
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id="97F55116-D9E3-4535-A8A1-129E53611888"] {
  position: absolute;
  width: 64.27vw;
  height: 4.53vw;
  top: 2.4vw;
  left: 5.6vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id="97F55116-D9E3-4535-A8A1-129E53611888"] [data-text-paragraph-id="97F55116-D9E3-4535-A8A1-129E53611888-0"] {
  white-space: pre-wrap;
  text-align: left
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id="97F55116-D9E3-4535-A8A1-129E53611888"] [data-text-span-id="97F55116-D9E3-4535-A8A1-129E53611888-0"] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 4.27vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id=a00382aa-6b5e-43cc-8639-30eae6f74079] {
  position: absolute;
  width: 64.27vw;
  height: 5.07vw;
  top: 8.27vw;
  left: 5.6vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id=a00382aa-6b5e-43cc-8639-30eae6f74079] [data-text-paragraph-id=a00382aa-6b5e-43cc-8639-30eae6f74079-0] {
  white-space: pre-wrap;
  text-align: left
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id=a00382aa-6b5e-43cc-8639-30eae6f74079] [data-text-span-id=a00382aa-6b5e-43cc-8639-30eae6f74079-0] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 4.27vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id=f67cad34-5bb4-4301-b3d6-15095da323d4] {
  position: absolute;
  width: 64.27vw;
  height: 5.07vw;
  top: 14.13vw;
  left: 5.6vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id=f67cad34-5bb4-4301-b3d6-15095da323d4] [data-text-paragraph-id=f67cad34-5bb4-4301-b3d6-15095da323d4-0] {
  white-space: pre-wrap;
  text-align: left
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id=f67cad34-5bb4-4301-b3d6-15095da323d4] [data-text-span-id=f67cad34-5bb4-4301-b3d6-15095da323d4-0] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 4.27vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id="08207910-1168-43bb-b4eb-190c0153e5fa"] {
  position: absolute;
  width: 64.27vw;
  height: 5.07vw;
  top: 19.47vw;
  left: 5.6vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id="08207910-1168-43bb-b4eb-190c0153e5fa"] [data-text-paragraph-id="08207910-1168-43bb-b4eb-190c0153e5fa-0"] {
  white-space: pre-wrap;
  text-align: left
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id="08207910-1168-43bb-b4eb-190c0153e5fa"] [data-text-span-id="08207910-1168-43bb-b4eb-190c0153e5fa-0"] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 4.27vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id="5bc1c9c7-b91b-450d-bc18-68eeaac58f9f"] {
  position: absolute;
  width: 2.4vw;
  height: 2.4vw;
  top: 3.73vw;
  left: 1.33vw;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id="18525d17-aa54-4383-8518-64c86f1b080f"] {
  position: absolute;
  width: 2.4vw;
  height: 2.4vw;
  top: 9.87vw;
  left: 1.33vw;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id=f5b891c5-c3b5-4f60-9932-623b99377c42] {
  position: absolute;
  width: 2.4vw;
  height: 2.4vw;
  top: 15.73vw;
  left: 1.33vw;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="30057435-0317-4597-95CD-3B766C66DE12"]>[data-id=bb9a605d-a839-4b41-9423-1f6bc6d99d8f] {
  position: absolute;
  width: 2.4vw;
  height: 2.4vw;
  top: 21.07vw;
  left: 1.33vw;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="701751A7-6E4A-4501-8383-DFC9FB94771A"] {
  position: absolute;
  width: 80.53vw;
  height: 17.33vw;
  top: calc(var(--ihpx)*0.7804 - 8.665vw);
  left: 9.865vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="701751A7-6E4A-4501-8383-DFC9FB94771A"]>[data-id=D0FDC425-4D8E-4988-AC6B-ABC77669F84D] {
  position: absolute;
  width: 80.53vw;
  height: 17.33vw;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  transform: translateZ(0);
  overflow: visible
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="701751A7-6E4A-4501-8383-DFC9FB94771A"]>[data-id=F63C1D16-16CA-46CD-A35F-FB73CCE27F31] {
  position: absolute;
  width: 12vw;
  height: 12vw;
  top: 2.4vw;
  left: 5.07vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  transform: translateZ(0);
  overflow: visible
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="701751A7-6E4A-4501-8383-DFC9FB94771A"]>[data-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90"] {
  position: absolute;
  width: 54.67vw;
  height: 14.93vw;
  top: 1.07vw;
  left: 18.67vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="701751A7-6E4A-4501-8383-DFC9FB94771A"]>[data-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90"] [data-text-paragraph-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90-0"] {
  white-space: pre-wrap;
  text-align: left
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="701751A7-6E4A-4501-8383-DFC9FB94771A"]>[data-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90"] [data-text-span-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90-0"] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 4.27vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="701751A7-6E4A-4501-8383-DFC9FB94771A"]>[data-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90"] [data-text-span-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90-1"] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 3.2vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="701751A7-6E4A-4501-8383-DFC9FB94771A"]>[data-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90"] [data-text-span-id="34b36616-c8d4-4f55-8aa3-78f5e3421a90-2"] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 2.67vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=a5a9edf4-3be0-406a-80e0-0c8cea9bfada] {
  position: absolute;
  width: 80.53vw;
  height: 17.33vw;
  top: calc(var(--ihpx)*0.9003 - 8.665vw);
  left: 9.865vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=a5a9edf4-3be0-406a-80e0-0c8cea9bfada]>[data-id="6d3fe0f8-013b-4ed5-9e05-79a87a871e22"] {
  position: absolute;
  width: 80.53vw;
  height: 17.33vw;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  transform: translateZ(0);
  overflow: visible
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=a5a9edf4-3be0-406a-80e0-0c8cea9bfada]>[data-id="40c97664-621b-4221-bcd4-7f057c68226e"] {
  position: absolute;
  width: 12vw;
  height: 12vw;
  top: 2.4vw;
  left: 5.07vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  transform: translateZ(0);
  overflow: visible
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=a5a9edf4-3be0-406a-80e0-0c8cea9bfada]>[data-id="135b6f51-f680-4c98-9afc-93f6eead0774"] {
  position: absolute;
  width: 54.67vw;
  height: 14.93vw;
  top: 1.07vw;
  left: 18.67vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=a5a9edf4-3be0-406a-80e0-0c8cea9bfada]>[data-id="135b6f51-f680-4c98-9afc-93f6eead0774"] [data-text-paragraph-id="135b6f51-f680-4c98-9afc-93f6eead0774-0"] {
  white-space: pre-wrap;
  text-align: left
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=a5a9edf4-3be0-406a-80e0-0c8cea9bfada]>[data-id="135b6f51-f680-4c98-9afc-93f6eead0774"] [data-text-span-id="135b6f51-f680-4c98-9afc-93f6eead0774-0"] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 4.27vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=a5a9edf4-3be0-406a-80e0-0c8cea9bfada]>[data-id="135b6f51-f680-4c98-9afc-93f6eead0774"] [data-text-span-id="135b6f51-f680-4c98-9afc-93f6eead0774-1"] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 3.2vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=a5a9edf4-3be0-406a-80e0-0c8cea9bfada]>[data-id="135b6f51-f680-4c98-9afc-93f6eead0774"] [data-text-span-id="135b6f51-f680-4c98-9afc-93f6eead0774-2"] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 2.67vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=e4e4ac92-2983-4703-bbf0-503f6cd55297] {
  position: absolute;
  width: 80.53vw;
  height: 17.33vw;
  top: calc(var(--ihpx)*1.0202 - 8.665vw);
  left: 9.865vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=e4e4ac92-2983-4703-bbf0-503f6cd55297]>[data-id=ff7f9184-d229-4211-9154-80e658552cfa] {
  position: absolute;
  width: 80.53vw;
  height: 17.33vw;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  transform: translateZ(0);
  overflow: visible
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=e4e4ac92-2983-4703-bbf0-503f6cd55297]>[data-id="72d8f390-54fc-41dc-b1c2-56508bf0bfca"] {
  position: absolute;
  width: 12vw;
  height: 12vw;
  top: 2.4vw;
  left: 5.07vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  transform: translateZ(0);
  overflow: visible
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=e4e4ac92-2983-4703-bbf0-503f6cd55297]>[data-id=adc05a86-4d44-4fcf-93ee-fea87beaa114] {
  position: absolute;
  width: 54.67vw;
  height: 14.93vw;
  top: 1.07vw;
  left: 18.67vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=e4e4ac92-2983-4703-bbf0-503f6cd55297]>[data-id=adc05a86-4d44-4fcf-93ee-fea87beaa114] [data-text-paragraph-id=adc05a86-4d44-4fcf-93ee-fea87beaa114-0] {
  white-space: pre-wrap;
  text-align: left
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=e4e4ac92-2983-4703-bbf0-503f6cd55297]>[data-id=adc05a86-4d44-4fcf-93ee-fea87beaa114] [data-text-span-id=adc05a86-4d44-4fcf-93ee-fea87beaa114-0] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 4.27vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=e4e4ac92-2983-4703-bbf0-503f6cd55297]>[data-id=adc05a86-4d44-4fcf-93ee-fea87beaa114] [data-text-span-id=adc05a86-4d44-4fcf-93ee-fea87beaa114-1] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 3.2vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id=e4e4ac92-2983-4703-bbf0-503f6cd55297]>[data-id=adc05a86-4d44-4fcf-93ee-fea87beaa114] [data-text-span-id=adc05a86-4d44-4fcf-93ee-fea87beaa114-2] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 2.67vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=ab1ad13b-4d31-4f40-9d67-cc50287ee465]>.wrapper>[data-id="49f0ba87-c355-402c-aef2-1c890e703c92"] {
  position: absolute;
  width: 4.27vw;
  height: 4.27vw;
  top: calc(var(--ihpx)*0.7346 - 2.135vw);
  left: 82.665vw;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c] {
  background-color: #fff
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper {
  position: relative;
  width: 100%;
  min-height: 356vw
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="9dff98e3-fd48-48c4-8123-8c66eedeef5a"] {
  position: absolute;
  width: 100vw;
  height: 56.53vw;
  top: calc(var(--ihpx)*0.1589 - 28.265vw);
  left: 0;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id=A763D189-0ED7-426A-88AF-23ABFC34868D] {
  position: absolute;
  width: 100vw;
  height: 9.6vw;
  top: calc(var(--ihpx)*0.3448 - 4.8vw);
  left: 0;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  transform: translateZ(0);
  overflow: visible
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="83263073-B4D3-4FB2-B509-4587942F80AA"] {
  position: absolute;
  width: 94.93vw;
  height: 6.13vw;
  top: calc(var(--ihpx)*0.3471 - 3.065vw);
  left: 2.405vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="83263073-B4D3-4FB2-B509-4587942F80AA"] [data-text-paragraph-id="83263073-B4D3-4FB2-B509-4587942F80AA-0"] {
  white-space: pre-wrap;
  text-align: center
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="83263073-B4D3-4FB2-B509-4587942F80AA"] [data-text-span-id="83263073-B4D3-4FB2-B509-4587942F80AA-0"] {
  color: #f1f1f1;
  font-family: Montserrat-Regular;
  font-size: 5.33vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="866f19e5-cd4f-4d1d-82fd-b3b661703af3"] {
  position: absolute;
  width: 70.67vw;
  height: 12.8vw;
  top: calc(var(--ihpx)*0.4318 - 6.4vw);
  left: 4.535vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="866f19e5-cd4f-4d1d-82fd-b3b661703af3"] [data-text-paragraph-id="866f19e5-cd4f-4d1d-82fd-b3b661703af3-0"] {
  white-space: pre-wrap;
  text-align: left
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="866f19e5-cd4f-4d1d-82fd-b3b661703af3"] [data-text-span-id="866f19e5-cd4f-4d1d-82fd-b3b661703af3-0"] {
  color: #414141;
  font-family: Montserrat-Regular;
  font-size: 3.2vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="1ad85705-5594-4c81-8c98-d5c5c861e588"] {
  position: absolute;
  width: 12.27vw;
  height: 12.8vw;
  top: calc(var(--ihpx)*0.4303 - 6.4vw);
  left: 82.665vw;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="06eef167-959f-4eda-a519-67dca5c06cb8"] {
  position: absolute;
  width: 70.67vw;
  height: 85.33vw;
  top: calc(var(--ihpx)*1.3253 - 42.665vw);
  left: 14.665vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="06eef167-959f-4eda-a519-67dca5c06cb8"] [data-text-paragraph-id="06eef167-959f-4eda-a519-67dca5c06cb8-0"] {
  white-space: pre-wrap;
  text-align: left
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="06eef167-959f-4eda-a519-67dca5c06cb8"] [data-text-span-id="06eef167-959f-4eda-a519-67dca5c06cb8-0"] {
  color: #414141;
  font-family: Montserrat-Regular;
  font-size: 3.2vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id=c07e9060-6fb4-4cd6-b485-1894f98e0c8f] {
  position: absolute;
  width: 70.67vw;
  height: 22.67vw;
  top: calc(var(--ihpx)*1.0097 - 11.335vw);
  left: 14.665vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id=c07e9060-6fb4-4cd6-b485-1894f98e0c8f] [data-text-paragraph-id=c07e9060-6fb4-4cd6-b485-1894f98e0c8f-0] {
  white-space: pre-wrap;
  text-align: left
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id=c07e9060-6fb4-4cd6-b485-1894f98e0c8f] [data-text-span-id=c07e9060-6fb4-4cd6-b485-1894f98e0c8f-0] {
  color: #414141;
  font-family: Montserrat-Regular;
  font-size: 4.27vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="6c437825-b5f6-4f1e-a688-d8bd26c8561b"] {
  position: absolute;
  width: 100.8vw;
  height: 56.53vw;
  top: calc(var(--ihpx)*0.7496 - 28.265vw);
  left: 0;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="7D60A956-A365-471C-A5CF-6910A4E60136"] {
  position: absolute;
  width: 77.87vw;
  height: 9.87vw;
  top: calc(var(--ihpx)*0.527 - 4.935vw);
  left: 10.935vw;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  transform: translateZ(0);
  overflow: visible
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="1e9bd735-dbaa-4879-944a-7cfd5250cb16"] {
  position: absolute;
  width: 57.33vw;
  height: 6.13vw;
  top: calc(var(--ihpx)*0.527 - 3.065vw);
  left: 12.805vw;
  right: auto;
  bottom: auto;
  transform: translateZ(0)
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="1e9bd735-dbaa-4879-944a-7cfd5250cb16"] [data-text-paragraph-id="1e9bd735-dbaa-4879-944a-7cfd5250cb16-0"] {
  white-space: pre-wrap;
  text-align: left
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="1e9bd735-dbaa-4879-944a-7cfd5250cb16"] [data-text-span-id="1e9bd735-dbaa-4879-944a-7cfd5250cb16-0"] {
  color: #fff;
  font-family: Montserrat-Regular;
  font-size: 5.33vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="7eb3c7b0-ac01-43e7-93bf-2eaa359151ce"] {
  position: absolute;
  width: 6.4vw;
  height: 6.4vw;
  top: calc(var(--ihpx)*0.5277 - 3.2vw);
  left: 79.73vw;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

[data-id=d7130849-99d5-4f4f-b876-7f8bc78ef16c]>.wrapper>[data-id="742b496c-efcd-4d56-a332-0606a889525e"] {
  position: absolute;
  width: 4vw;
  height: 4vw;
  top: calc(var(--ihpx)*0.0262 - 2vw);
  left: 92.27vw;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

/* FIN DE FAMOUS INDEX.CSS */ 

/* FAMOUS INDEX.HTML CSS <STYLE>...</STYLE> CODE */

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"] {
  background-color: #fff
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper {
  position: relative;
  width: 100%;
  height: 100%
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id="55020CDE-798A-4F23-BAD8-4356C48CAEA8"] {
  position: absolute;
  width: 100vw;
  height: calc(var(--ihpx)*1);
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  filter: unset;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id="2c04ebba-9dbd-4139-93d5-d23cb76c8745"] {
  position: absolute;
  width: 41.07vw;
  height: 10.13vw;
  top: calc(var(--ihpx)*0.8861 - 5.065vw);
  left: 29.335vw;
  right: auto;
  bottom: auto;
  filter: unset;
  visibility: inherit;
  mix-blend-mode: screen;
  transform: translateZ(0)
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id="618E76A3-CBDF-43FA-B064-D8D074D4BDF1"] {
  position: absolute;
  width: 52.27vw;
  height: 5.07vw;
  top: calc(var(--ihpx)*0.7144 - 2.535vw);
  left: 23.195vw;
  right: auto;
  bottom: auto;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id="ce049ab9-29e8-4e8f-a6a9-27bb1a02b4a7"]
[data-id="618E76A3-CBDF-43FA-B064-D8D074D4BDF1"] [data-text-paragraph-id="618E76A3-CBDF-43FA-B064-D8D074D4BDF1-0"] {
  white-space: pre-wrap;
  text-align: center;
  line-height: 4vw
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id="ce049ab9-29e8-4e8f-a6a9-27bb1a02b4a7"]
[data-id="618E76A3-CBDF-43FA-B064-D8D074D4BDF1"] [data-text-span-id="618E76A3-CBDF-43FA-B064-D8D074D4BDF1-0"] {
  color: #fff;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 2.67vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id=a46d7a25-f6e1-4efc-99b0-2af268166478] {
  position: absolute;
  width: 52.27vw;
  height: 4.53vw;
  top: calc(var(--ihpx)*0.9438 - 2.265vw);
  left: 23.195vw;
  right: auto;
  bottom: auto;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id=a46d7a25-f6e1-4efc-99b0-2af268166478] [data-text-paragraph-id=a46d7a25-f6e1-4efc-99b0-2af268166478-0] {
  white-space: pre-wrap;
  text-align: center;
  line-height: 4vw
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id=a46d7a25-f6e1-4efc-99b0-2af268166478] [data-text-span-id=a46d7a25-f6e1-4efc-99b0-2af268166478-0] {
  color: #fff;
  /* font-family: PlayfairDisplay-Regular; */
  font-size: 2.67vw;
  word-wrap: break-word;
  letter-spacing: 0
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id="4E105924-DF73-490D-9CF8-84A2E4C59216"] {
  position: absolute;
  width: 65.87vw;
  height: 59.73vw;
  top: calc(var(--ihpx)*0.2879 - 29.865vw);
  left: 17.065vw;
  right: auto;
  bottom: auto;
  opacity: 1;
  transform: translateZ(0)
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id="4E105924-DF73-490D-9CF8-84A2E4C59216"]>[data-id="73456F0F-FB13-4517-ABAC-900B76213135"] {
  position: absolute;
  width: 65.87vw;
  height: 18.13vw;
  top: 39.73vw;
  left: 0;
  right: auto;
  bottom: auto;
  opacity: 1;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id="4E105924-DF73-490D-9CF8-84A2E4C59216"]>[data-id="73456F0F-FB13-4517-ABAC-900B76213135"] [data-text-paragraph-id="73456F0F-FB13-4517-ABAC-900B76213135-0"] {
  white-space: pre-wrap;
  text-align: center;
  line-height: 15.47vw
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id="4E105924-DF73-490D-9CF8-84A2E4C59216"]>[data-id="73456F0F-FB13-4517-ABAC-900B76213135"] [data-text-span-id="73456F0F-FB13-4517-ABAC-900B76213135-0"] {
  color: #fff;
  font-family: Montserrat-Regular;
  font-size: 10.4vw;
  word-wrap: break-word;
  letter-spacing: .11vw
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id="4E105924-DF73-490D-9CF8-84A2E4C59216"]>[data-id="0a8daedd-d6fd-4a98-9d7d-157171e46b82"] {
  position: absolute;
  width: 40vw;
  height: 40vw;
  top: calc(var(--ihpx)*0.1124 - 20vw);
  left: 13.33vw;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id="4E105924-DF73-490D-9CF8-84A2E4C59216"]>[data-id=D143C30C-E842-41F5-AA34-5282482C2B14] {
  position: absolute;
  width: 56.53vw;
  height: 5.07vw;
  top: 55.47vw;
  left: 4.53vw;
  right: auto;
  bottom: auto;
  opacity: .7;
  mix-blend-mode: normal;
  transform: translateZ(0)
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id="4E105924-DF73-490D-9CF8-84A2E4C59216"]>[data-id=D143C30C-E842-41F5-AA34-5282482C2B14] [data-text-paragraph-id=D143C30C-E842-41F5-AA34-5282482C2B14-0] {
  white-space: pre-wrap;
  text-align: center;
  line-height: 5.07vw
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id="4E105924-DF73-490D-9CF8-84A2E4C59216"]>[data-id=D143C30C-E842-41F5-AA34-5282482C2B14] [data-text-span-id=D143C30C-E842-41F5-AA34-5282482C2B14-0] {
  color: #fff;
  font-family: Montserrat-Medium;
  font-size: 3.47vw;
  word-wrap: break-word;
  letter-spacing: .46vw
}

[data-id="0378A657-A7D0-4AA9-88D9-8E2B7C2F3B55"]>.wrapper>[data-id=ce049ab9-29e8-4e8f-a6a9-27bb1a02b4a7] {
  position: absolute;
  width: 21.6vw;
  height: 21.6vw;
  top: calc(var(--ihpx)*0.6229 - 10.8vw);
  left: 39.2vw;
  right: auto;
  bottom: auto;
  filter: unset;
  transform: translateZ(0)
}

/*
@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v18/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgEM86xQ.woff2)
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2)
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2)
}

@font-face {
  font-family: PlayfairDisplay-Italic;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v18/nuFkD-vYSZviVYUb_rj3ij__anPXDTnogkk7yRZrPA.woff2)
}

@font-face {
  font-family: NunitoSans-Regular;
  src: url(https://fonts.gstatic.com/s/nunitosans/v5/pe0qMImSLYBIv1o4X1M8cce9I9tAcVwo.woff2)
}

*/

/* FAMOUS INDEX.HTML CSS <STYLE>...</STYLE> CODE */